:host {
  h3 {
    text-align: center;
    margin-bottom: 2em;
  }
  form {
    max-width: 400px;
    margin: 0 auto;

    .controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2em;

      button {
        text-transform: capitalize;
      }
    }
  }
}
