<ng-container [ngTemplateOutlet]="(loading$ | async) ? loading : main"
              [ngTemplateOutletContext]="{loadingText: 'Loading...'}"></ng-container>

<ng-template #main>
  <div *ngIf="data$ | async as data">
    <h3>{{state.title}}</h3>
    <form [formGroup]="form" (ngSubmit)="saveData()">

      <ng-container *ngFor="let control of controlData">
        <fiiz-input *ngIf="control.type === 'text'" [type]="control.type" [id]="control.key" [label]="control.label" [placeholder]="control.label" [formControlName]="control.key"></fiiz-input>
        <fiiz-select *ngIf="control.type === 'dropdown'" #dropdown [module]="control.service" [id]="control.key" [label]="control.label" [formControlName]="control.key"></fiiz-select>
      </ng-container>



      <input type="submit" class="primary" value="Create {{state.module}}" [disabled]="!this.form.valid">
    </form>


  </div>
</ng-template>

<ng-template #loading>Loading...</ng-template>
