<!--<h3>{{data.title}}</h3>-->
<form [formGroup]="form" (ngSubmit)="save()">

  <ng-container *ngFor="let control of controlData">
    <fiiz-input *ngIf="['text','tel','email'].includes(control.type)" [type]="control.type" [id]="control.key" [label]="control.label" [placeholder]="control.label" [formControlName]="control.key"></fiiz-input>
    <fiiz-date-picker
      *ngIf="['calendar', 'timer', 'both'].includes(control.type)"
      #picker
      [pickerType]="control.type"
      [id]="control.key"
      [label]="control.label"
      [formControlName]="control.key"
      [min]="configuration[control.key].min"
      [max]="configuration[control.key].max"
      [placeholder]="control.label"
    ></fiiz-date-picker>
    <fiiz-select *ngIf="control.type === 'dropdown'" #dropdown [module]="control.service" [options]="{remote: true}" [id]="control.key" [label]="control.label" [formControlName]="control.key"></fiiz-select>
    <fiiz-dropdown style="width: 100%;" *ngIf="control.type === 'dropdown-search'" type="search" [formControlName]="control.key" [id]="control.key" [label]="control.label" [title]="control.label" [module]="control.service" ></fiiz-dropdown>
  </ng-container>

  <div class="controls" *ngIf="options.controls">
    <fiiz-button (click)="navigation.back()" type="button" class="stroked">Back</fiiz-button>
    <fiiz-button #submit type="submit" primary [loading]="loadingSubject$" [disabled]="(loadingSubject$ | async) || form.invalid">{{submitText}}</fiiz-button>
  </div>

</form>
