@import '~src/assets/css/variables';

/* class applies to select element itself, not a wrapper element */
:host {
  display: block;
  position: relative;
  margin-bottom: $input-margin-bottom;
  width: 100%;

  &.ng-invalid {
    input {
      border-bottom: 2px solid red;
    }
  }

  &:after {
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    color: #96A1B4;
    transform: translateY(-50%);
    content: '%';
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 700;
  }

  input {
    position: relative;
    display: block;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: $blue5;
    line-height: 35px;
    padding: 0 30px 0 12px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: none;
    box-shadow: $form-control-shadow;
    border-radius: $input-border-radius;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    cursor: text;
    text-align: right;


    &:focus {
      /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
      box-shadow: 0 0 1px 2px $blue2;
      box-shadow: 0 0 0 1px -moz-mac-focusring;
      color: #222;
      outline: none;
    }

    &::-ms-expand {
      display: none;
    }

    option {
      font-weight: normal;
    }

    &:disabled, &[aria-disabled=true] {
      color: graytext;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    }

    &:disabled:hover, &[aria-disabled=true] {
      border-color: #aaa;
    }

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }
  }


}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A7B2D2;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A7B2D2;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #A7B2D2;
}
