<div class="flex_main_wrapper">

  <ng-container [ngSwitch]="options.state">
    <!-- Set Appointment Template -->
    <ng-template [ngSwitchDefault]>
      <div class="flex_main_wrapper__header">
        <h3 style="margin: 0 auto;" *ngIf="options.state == 'set'" >Set Appointment</h3>
        <h3 style="margin: 0 auto;" *ngIf="options.state == 'reschedule'" >Reschedule Appointment</h3>
        <div class="flex_main_wrapper__form">
          <ng-container *ngIf="showSlots">
            <fiiz-data #eventData [module]="ModuleTypes.EVENT" [data]="{id: id}" [options]="{controls: false, state: 'create', fields: ['title', 'officeId', 'typeId']}" (values)="form.patchValue($event)"></fiiz-data>
          </ng-container>
        </div>
        <p class="dictation" *ngIf="showSlots">We have availability at our office as soon as...</p>
      </div>

      <ng-container *ngIf="showSlots">
        <div *ngFor="let day of days">
          <div class="flex_main_wrapper__slots" *ngFor="let item of day | keyvalue">
            <div class="flex_main_wrapper__slots__day">
              {{ item.key }}
            </div>
            <div class="flex_main_wrapper__slots__times">
              <button *ngFor="let time of item.value;"
                      [id]="item.key+', '+time"
                      [ngClass]="{'active' : selectedBtnId === item.key+', '+time}"
                      #slotBtn
                      class="btn_time_slots"
                      (click)="setEventTime($event)">
                {{ time }}
              </button>
            </div>
          </div>
        </div>
        <div>
          <fiiz-date-picker
            id="date_range"
            pickerType="both"
            placeholder="Date Time range"
            selectMode="range"
            (change)="getCustomSlot($event)"
            label="Custom Time Slot"
            [min]="minDate"
            [stepMinute]="appointmentSettings['duration'].value || 30"
          ></fiiz-date-picker>
        </div>
        <div class="info">
          "May I have a good email address for you and I will send you a confirmation of your appointment, it will also
          include driving directions to our office."
        </div>
      </ng-container>
    </ng-template>
    <!-- End -->


    <!-- Cancel Appointment Template -->
    <ng-template [ngSwitchCase]="'cancel'">
      <div class="flex_main_wrapper__header__title">
        Cancel Appointment
      </div>
      <h3>Continue to cancel the below appointment</h3>
      <div *ngFor="let data of apptData | async">
        <div> {{data.label}} : {{data.value}}</div>
      </div>
    </ng-template>
    <!-- End -->

  </ng-container>
</div>


