<div class="fiiz-dropdown-button" [ngClass]=" !title ? 'fiiz-dropdown-button-no-title' : 'fiiz-dropdown-button-title'" (click)="toggle()">
    <button>
        {{title}}
        <i class="fa-solid fa-square-caret-down"></i>
    </button>
    <ul class="fiiz-dropdown-button__content fiiz-dropdown-button-{{position}}" *ngIf="showDropDowns" [@dropDownMenu] [ngSwitch]="type" >

        <ng-template [ngIf]="type === 'button'" >
            <li *ngFor="let item of items; let i = index; let last = 'last' " [ngClass]="{'divider': last !=='last'}">
                <button (click)="emitTheValue(item.emitterValue)">
                    <i [class]="item.icon"></i> {{ item.label }}
                </button>
            </li>
        </ng-template>

        <ng-template [ngIf]="type === 'anchor'" >
            <li *ngFor="let item of items; let i = index; let last = 'last' " [ngClass]="{'divider': last !=='last'}">
                <a routerLink="item.path">
                    <i [class]="item.icon"></i> {{ item.label }}
                </a>
            </li>
        </ng-template>

        <ng-template [ngIf]="type === 'form'" >
            <li *ngFor="let item of items; let i = index; let last = 'last' " [ngClass]="{'divider': last !=='last', 'selected': item.value === selected, 'disabled' : item.disabled}">
                <a (click)="!item.disabled && setFormValue(item, i, $event)">
                    {{item.label}}
                </a>
            </li>
        </ng-template>
                
    </ul>
</div>