@import '~src/assets/css/variables';

:host {
    width: 100%;
    height: $full-height-minus-navbar;
    padding: {
      left: 0;
      right: 0;
    }
}

.outcome-layout {
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding-top: $navbar-height + 75;

    &__main {
      display: flex;
      flex-direction: row;
      height: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex: 4.5;
      justify-content: flex-start;
      overflow: hidden;
      align-items: stretch;
      align-content: stretch;
      position:relative;
    }
}
