@import 'src/assets/css/variables';
@import 'src/assets/css/mixins';

:host {
  display: block;
  width: 100%;

  nav {
    //border-bottom: 1px solid #{var(--slate-tint3)};
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;

    button {
      border: 0;
      border-radius: 0;
      background: none;
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: var(--text1);
      line-height: 48px;
      box-shadow: none;
      cursor: pointer;
      width: fit-content;

      &.active {
        color: var(--primary-tint1);
      }


      // @include focusRing();


    }

    .active-underline {
      position: absolute;
      width: 50%;
      height: 1px;
      background: var(--primary-tint1);
      transition: .2s ease-out;
      bottom: -1px;
      left: 0;
    }




  }

}
