<nav class="navbar" *ngIf="loggedUser !== null">
    <div class="navbar__header">
        <a  routerLink="/dashboard">
            <img src="../../../../../assets/img/logo@1x.png" alt="4iiz Logo" />
        </a>
    </div>

    <div class="navbar__menu">
        <ul class="navbar__nav">
            <li routerLinkActive="active" #link *ngFor="let menu of menus">
                <a [routerLink]="menu.path">{{menu.name}}</a>
            </li>
            <div class="active-underline" #activeUnderline></div>
        </ul>
    </div>
</nav>
