@import '~src/assets/css/mixins';

:host {
  display: block;
  background-color: var(--background-color);
  z-index: 10;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  @include elevate(2);
}

.nav-dropdown-menu {
  position: absolute;
  flex-direction: column;
  width: max-content;
  background: var(--primary-shade9);
  box-shadow: 0 15px 15px 5px rgb(0 0 0 / 25%);
  border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
  display: none;

  &.open {
    display: flex;
  }

  button {
    cursor: pointer;
    text-align: left;
    line-height: 36px;

    &:hover {
      background: rgba(0,0,0,.15);
    }

    &:first-child {
      border-radius: var(--button-border-radius) var(--button-border-radius) 0 0;
    }

    &:last-child {
      border-radius: 0 0  var(--button-border-radius) var(--button-border-radius);
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
  position:relative;
  max-width: var(--container-width);
  margin: 0 auto;

  .acting-for {
    color: #80CBC2;
    position: absolute;
    font-weight: 300;
    top: 28px;
    left: 64px;
  }

  &__header {
    position: relative;

    button {
      margin: 0;
      border-style: none;
      height: var(--navbar-height)!important;
      display: flex;
      align-items: center;

      img {
      }
    }

  }

  &__menu {
    margin-left: auto;
  }

  nav {
    margin: {
      top: 0;
      left: auto;
      bottom: 0;
    }
    flex-direction: row;
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .active-underline {
      position: absolute;
      width: 0;
      height: 3px;
      background: #79B8FF;
      transition: .2s ease-out;
      bottom: 0;
      left: 0;
    }

    & > button,
    & > div button, {
      cursor: pointer;
      background: none;
      border: none;
      text-decoration: none;
      display: inline-block;
      line-height: var(--navbar-height)!important;
      padding: 0 1.7rem;
      color: var(--text1);
    }

    &.active a {
      color: var(--primary-tint2);
    }

  }

}

nav.mobile-nav-container {
  //height: 0;
  width: 100%;
  //overflow:hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: height .25s ease-in-out;

  &.open {
    //height: fit-content;
  }

  button {
    cursor: pointer;
    width: 100%;
    line-height: 44px;
    text-align: left;
    border: none;
    background: none;
    color: var(--text1);
    font-size: 14px;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255,255,255,.05);
    }

    &.active {
      background: var(--primary);
      font-weight: 500;
      color: var(--primary-shade9);
    }

  }
}
