@import '~src/assets/css/variables';
:host {
  display: block;
  background-color: #0A1930;
  box-shadow: 0 2px 50px rgb(0 0 0 / 90%);
  z-index: 10;
  position: fixed;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;


  &__header {
    a {
      margin: 0;
      border-style: none;
      height: $navbar-height;
      display: flex;
      align-items: center;
      padding: 0 15px;

      img {
      }
    }

  }

  &__menu {
    margin-left: auto;
  }

  &__nav {
    margin: {
      top: 0;
      left: auto;
      bottom: 0;
    }
    flex-direction: row;
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .active-underline {
      position: absolute;
      width: 0;
      height: 3px;
      background: #79B8FF;
      transition: .2s ease-out;
      bottom: 0;
      left: 0;
    }

    & > li {

      &:hover {
        //border-bottom: 3px solid #79B8FF;
      }

      & > a {
        text-decoration: none;
        display: inline-block;
        line-height: $navbar-height;
        padding: 0 1.7rem;
        color: #C6CEED;
      }

      &.active a {
        color: #79B8FF;
      }
    }
  }

}
