@import '~src/assets/css/mixins';

:host {
  display: block;
  background-color: var(--background-color);
  z-index: 10;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  @include elevate(2);
}

.nav-dropdown-menu {
  position: absolute;
  flex-direction: column;
  width: max-content;
  background: var(--primary-shade9);
  box-shadow: 0 15px 15px 5px rgb(0 0 0 / 25%);
  border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
  display: none;
  margin: 0;

  &.open {
    display: flex;
  }

  button {
    cursor: pointer;
    text-align: left;
    line-height: 36px;

    &:hover {
      background: rgba(0, 0, 0, .15);
    }

    &:first-child {
      border-radius: var(--button-border-radius) var(--button-border-radius) 0 0;
    }

    &:last-child {
      border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
  position: relative;
  max-width: var(--container-width);
  margin: 0 auto;



  .brand {
    position: relative;

    a {
      display: flex;
      margin: 0;
    }

    .acting-for {
      position: absolute;
      bottom: 0;
      left: 66px;

      background: #80CBC2;
      color: black;

      padding: .1em .24em;
      border-radius: 4px;

      font-weight: 400;
      line-height: 1em;
    }
  }


  &__menu {
    margin-left: auto;
  }

  nav {
    margin: {
      top: 0;
      left: auto;
      bottom: 0;
    }
    flex-direction: row;
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .active-underline {
      position: absolute;
      width: 0;
      height: 3px;
      background: #79B8FF;
      transition: .2s ease-out;
      bottom: 0;
      left: 0;
    }

    & > button,
    & > div button {
      cursor: pointer;
      background: none;
      border: none;
      text-decoration: none;
      display: inline-block;
      line-height: var(--navbar-height) !important;
      padding: 0 1.7rem;
      color: var(--text1);
    }

    &.active a {
      color: var(--primary-tint2);
    }

  }

}

nav.mobile-nav-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: height .25s ease-in-out;
  border: {
    top: 1px solid rgba(255, 255, 255, .05);
    bottom: 1px solid rgba(255, 255, 255, .05);
  }

  &.open {
    //height: fit-content;
  }

  button {
    cursor: pointer;
    width: 100%;
    line-height: 44px;
    text-align: left;
    border: none;
    background: none;
    color: var(--text1);
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, .05);

    &.active {
      background: var(--primary);
      font-weight: 500;
      color: var(--primary-shade9);
    }

  }


  .sub-menu {
    overflow: hidden;
    z-index: 1;

    button {
      padding-left: 30px;

      &:not(:first-child) {
        border-bottom: 1px solid rgba(255, 255, 255, .05);
      }

    }
  }

  .btn-icon {
    padding-top: 10px;
    font-size:18px;
    float:right;
  }

}
