@import '~src/assets/css/variables';
@import '~src/assets/css/mixins';

:host {
  height: var(--full-height-minus-navbar);

  fiiz-grid > * {
    text-align: right;
  }
  fiiz-grid > *:nth-child(11n+1) {
    text-align: left;
  }
}

.team {


  &__reports {

    .pipeline-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      gap: 2em;

      &__section {
        flex: 1;
        background-color: var(--slate);
        border-radius: var(--input-border-radius);
        justify-content: space-around;

        align-items: stretch;
        align-content: center;

        > *:not(:last-child) {
          border-right: 1px solid rgba(255, 255, 255, .05);
        }
      }

      &__right_border {
        width: 1px;
        background-color: var(--slate-tint1);

        &__triangle {
          transform: translateY(calc(100% + 20px));
          @include triangle(right, 4, 18, var(--slate-tint1));
        }
      }

      &__item {

        padding: 20px 0;

        &__title {
          color: var(--green1);
          text-align: center;
          line-height: 1em;
          margin-bottom: 20px;
          font-size: 12px;
          font-weight: 500;
          @include ellipsis();
        }

        &__metric,
        &__metric > span {
          //font-size: 2.4vw;
          font-weight: 500;
          text-align: center;
          line-height: 1em;
          margin-bottom: 10px;

          &__goal {
            font-size: 14px;
            color: var(--slate-tint5);
            font-weight: 300;
          }
        }

        &__caption {
          text-align: center;
          font-size: 12px;
          font-weight: 400;
          color: var(--slate-tint5);
        }

      }
    }

    .pipeline-nav-table {
      margin-top: 40px;
      margin-bottom: 100px;
    }

  }
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.table-heading {
  color: var(--green1);
  line-height: 36px;
}

.team-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;

  fiiz-card {
    text-align: center;
    margin-right: 20px;
    min-width: 111px;
    min-height: 114px;
    margin-bottom: 20px;
    overflow: visible!important;
    flex: 1;

    &.has-supporting-metric {
      padding: 20px 30px !important;
    }

    // tooltip position reset
    &:before {
      bottom: initial;
      transform: translate(-50%, 94px)!important;
    }
    &:after {
      top: 120px;
      left: 50%;
    }

    &:last-child {
      margin-right: 0;
    }

    .card-title {

    }

    .card-value {
      font-size: 40px;
      font-weight: 500;
      color: var(--slate);
      line-height: 53px;
      position: relative;

      .supporting-metric {
        color: var(--green1);
        font-size: 12px;
        position: absolute;
        bottom: -7px;
      }
    }
  }
}
