<ng-container *ngFor="let day of days">
  <div class="slots" *ngFor="let item of day | keyvalue">
    <div class="slots__day">
      {{ item.key | fiizDate : 'ddd, MMMM Do'}}
    </div>
    <div class="slots__times" data-qa="slot-time">
      <button *ngFor="let time of item.value;" [id]="time.format()"
              [ngClass]="{'active': selectedDate === time.format()}"
              class="btn_time_slots"
              (click)="setEventTime($event)">{{ time.format('hh:mm A') }}</button>
    </div>
  </div>
</ng-container>
