@import '../../../../../assets/css/mixins';

:host {
  display: flex;
  gap: 1em;
  width: 100%;
  margin-top: 1em;
}

.flex_main_wrapper {


  &__slots {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid rgba(255,255,255,.05);
    border-radius: var(--input-border-radius);

    &__day {
      text-align: center;
      font-weight: 500;
      color: var(--green1);
      padding: .5em;
      border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    &__times {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      height: 200px;
      overflow: auto;
      align-content: flex-start;
      @include hideScrollBars();

      button {
        width: 100%;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        color: var(--text1);
        background: none;
        line-height: 44px;
        cursor: pointer;

        &:hover {
          background: rgba(0,0,0,0.2);
        }
        &.active {
          color: #0a1930;
          background: var(--primary-tint1);
        }
        &:last-child {
          border: none;
        }
      }
    }

  }

  &__form {
    width: 100%;

    fiiz-data {

      fiiz-textarea {
        grid-column-end: span 3;
      }
    }
  }

}
