@import '~src/assets/css/variables';
@import '~src/assets/css/mixins';

:host {
  display: flex;
  width: 100%;
  position:relative;

  &.ng-invalid {
    select {
      border-bottom: 2px solid red;
    }
  }

  &.has-label {
    margin-top: 32px;
  }

  label {
    color: rgba(198, 203, 237, 0.62);
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0;
    position: absolute;
    top: -15px;
    left: 2em;
    line-height: 1em;
  }

  i {
    align-self: center;
    position: absolute;
    justify-content: flex-end;
    right: 22px;
  }

  /* class applies to select element itself, not a wrapper element */
  select.fiiz-select-component {
    border-radius: #{var(--input-border-radius)};
    display: block;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #{var(--text1)};
    padding: #{var(--input-padding-tb)} #{var(--input-padding-lr)};
    box-sizing: border-box;
    margin: 0;
    border: none;
    @include elevate(1);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #{var(--slate4)};
    width: 100%;
    height: 44px;

    &.small {
      padding: 0 12px;
      line-height: 32px;
      height: 32px;
    }

    background-image: none;
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right 12px top 50%;
    /* icon size, then gradient */
    background-size: .65em auto;
    cursor: pointer;

    &:focus {
      @include focusRing(#{var(--focusring)}, #{var(--focusring-moz-mac)});
    }

    &::-ms-expand {
      display: none;
    }

    option {
      font-weight:normal;
    }

    &.divider {
      border-bottom: 1px solid rgb(38 68 109 / 35%);
    }

    &.selected {
      background-color: var(--slate4-shade15);
      font-weight: bold;
    }

    &.disabled {
      background-color: var(--slate4-shade15);
      cursor: not-allowed;
      color: #dd7070;
    }

    &:disabled, &[aria-disabled=true] {
      opacity: .5;
      cursor: not-allowed;
    }

    &:disabled:hover, &[aria-disabled=true] {
      border-color: #FFFFFF;
    }
  }
}


.fiiz-dropdown-button-bottom-right {
  right: 0;
}

.fiiz-dropdown-button-bottom-left {
  left: 0;
}

.fiiz-dropdown-button-top-right {
  right: 0;
  bottom: 110%;
}

.fiiz-dropdown-button-top-left {
  left: 0;
  bottom: 110%;
}
