@import '~src/assets/css/variables';
@import '~src/assets/css/mixins';

:host {
  display: block;
  width: 100%;
  margin-bottom: $input-margin-bottom;
  position:relative;
  margin-right: 1em;

  &.ng-invalid {
    select {
      border-bottom: 2px solid red;
    }
  }

  label {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0;
    position: absolute;
    top: -20px;
    left: 16px;
  }

  /* class applies to select element itself, not a wrapper element */
  select.fiiz-select-component {
    border-radius: $input-border-radius;
    display: block;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #C6CEED;
    padding: 0 16px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    @include elevate(1);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #172B46;
    width: 100%;
    height: 44px;

    &.small {
      padding: 8px 30px 6px 12px;
    }

    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right 12px top 50%;
    /* icon size, then gradient */
    background-size: .65em auto;
    cursor: pointer;

    &:focus {
      @include focusRing($focusring, $focusring-moz-mac);
    }

    &::-ms-expand {
      display: none;
    }

    option {
      font-weight:normal;
    }

    &.divider {
      border-bottom: 1px solid rgb(38 68 109 / 35%);
    }

    &.selected {
      background-color: shade(#172B46, 15);
      font-weight: bold;
    }

    &.disabled {
      background-color: shade(#172B46, 1);
      cursor: not-allowed;
      color: #dd7070;
    }

    &:disabled, &[aria-disabled=true] {
      opacity: .5;
      cursor: not-allowed;
    }

    &:disabled:hover, &[aria-disabled=true] {
      border-color: #FFFFFF;
    }
  }
}


.fiiz-dropdown-button-bottom-right {
  right: 0;
}

.fiiz-dropdown-button-bottom-left {
  left: 0;
}

.fiiz-dropdown-button-top-right {
  right: 0;
  bottom: 110%;
}

.fiiz-dropdown-button-top-left {
  left: 0;
  bottom: 110%;
}
