<label [for]="id" *ngIf="label" [ngClass]="{ 'required' : required }" >{{label}}</label>
<ng-container [ngTemplateOutlet]="type === 'textarea' ? textarea : input"></ng-container>

<ng-template #input>
  <i class="fa {{icon}}" *ngIf="!!icon"></i>

  <div class="wrapper">
    <input [id]="id"
           autocomplete="off"
           tabindex="0"
           [name]="id"
           #inputElement
           [type]="type"
           [minlength]="minlength"
           [maxlength]="maxlength"
           [attr.min]="min"
           [attr.max]="max"
           [placeholder]="placeholder"
           [fiizfocus]="autofocus"
           [attr.autofocus]="autofocus || null"
           [value]="value"
           [(ngModel)]="value"
           [disabled]="disabled"
           [ngClass]="{ 'number': type === 'number', 'has-icon': !!icon }"
           (ngModelChange)="changed($event)"/>
  </div>
</ng-template>

<ng-template #textarea>
	<textarea class="text-area" [id]="id" [attr.min]="min" [attr.max]="max" [placeholder]="placeholder"
            [disabled]="disabled">
		value
	</textarea>
</ng-template>
