<div class="notes">
    <section class="notes__content">
      <div class="notes__content__title">Notes</div>
      <div class="notes__content__items">
        <div class="notes__content__items__item" [ngClass]="{'active' : selectedIndex == -1}" (click)="loadNotesInView({}, -1)">
          <i class="fa fa-phone"></i>
          <div class="notes__content__items__item__info">
            <h5 class="notes__content__items__item__heading" [ngClass]="{'active' : selectedIndex == -1}">Current Call</h5>
            <time class="notes__content__items__item__subheading" [dateTime]="" [ngClass]="{'active' : selectedIndex == -1}">Now</time>
          </div>
        </div>
        <div *ngFor="let note of notes$ | async; let i = index" class="notes__content__items__item" [ngClass]="{'active' : selectedIndex == i}" (click)="loadNotesInView(note, i)">
          <i class="fa" [ngClass]="{'fa-phone' : note.noteFor == 'call', 'fa-calendar' : note.noteFor == 'event' }"></i>
          <div class="notes__content__items__item__info">
            <h5 *ngIf="note.noteFor == 'call'" class="notes__content__items__item__heading" [ngClass]="{'active' : selectedIndex == i}">{{note.direction | titlecase}} Call</h5>
            <h5 *ngIf="note.noteFor == 'event'" class="notes__content__items__item__heading" [ngClass]="{'active' : selectedIndex == i}">{{note.type}}</h5>
            <time class="notes__content__items__item__subheading" [dateTime]="note.createdAt" [ngClass]="{'active' : selectedIndex == i}">{{ note.createdAt | date:'medium'}}</time>
          </div>
        </div>          
      </div>
    </section>
    <section class="notes__editor">
      <div class="autoSave" [@appear]="isSaving">Auto Saved.</div>
      <editor
        #tinymce
        apiKey="urnz0s9a4al78qoc2vppvb448lleii59pbarcr4cgviahk1i"
        outputFormat="html"
        [init]="tinymceOptions"
      ></editor>
    </section>
</div>