@import '~src/assets/css/variables';
@import '~src/assets/css/functions';
@import '~src/assets/css/mixins';


.flow-notes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  padding: 2em;

  &__sidebar {
    flex: 0.3;
    padding-right: 10px;
    overflow-y: auto;
    max-height: 400px;
    &__title {
      color: var(--green1);
      line-height: 34px;
      font-size: 18px;
    }
  }

  &__content {
    flex: 0.7;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--slate-tint1);
    line-height: 2px;
    padding: 10px 0;
    gap: 1em;
    cursor: pointer;

    &__icon {
      font-size: 14px;
    }

    &__content {

      h5 {
        padding: 0;
        margin: 0;
        font-weight: 400;
      }

      time {
        font-size: 12px;
        line-height: 1.2em;
        color: var(--primary-shade5);
      }
    }
  }


  .autoSave {
    position: absolute;
    opacity: 0;
    right: 1em;
    top: 1em;
    z-index: 99999;
    color: var(--green1);
    font-size: 10px;
    text-align: left;
  }

  .active {
    color: var(--primary);
  }
}

.shadow {
  box-shadow: 0px 2px 5px rgba(0,0,0, 0.221591);
}

.loading {
  position: absolute;
  z-index:1;
  top:25%;
  left:50%;
  width: 100px;
  height: 100px;
}
