@import '~src/assets/css/variables';

.flex_main_wrapper {

  & .message-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 18px;

    span {
      font-size: 14px;
      color: #A7B2D2;
      font-weight: 400;
    }
  }

}