
#ewqhdz7haoel2_to {
  animation: ewqhdz7haoel2_to__to 2200ms linear infinite alternate forwards
}

@keyframes ewqhdz7haoel2_to__to {
  0% {
    transform: translate(167.445984px, 88.123203px)
  }
  54.545455% {
    transform: translate(167.445984px, 88.123203px);
    animation-timing-function: cubic-bezier(0.175000, 0.885000, 0.320000, 1.275000)
  }
  72.727273% {
    transform: translate(167.445984px, 57.123203px)
  }
  100% {
    transform: translate(167.445984px, 57.123203px)
  }
}

#ewqhdz7haoel2_ts {
  animation: ewqhdz7haoel2_ts__ts 2200ms linear infinite alternate forwards
}

@keyframes ewqhdz7haoel2_ts__ts {
  0% {
    transform: scale(1, 0)
  }
  54.545455% {
    transform: scale(1, 0);
    animation-timing-function: cubic-bezier(0.175000, 0.885000, 0.320000, 1.275000)
  }
  72.727273% {
    transform: scale(1, 1)
  }
  100% {
    transform: scale(1, 1)
  }
}

#ewqhdz7haoel3_to {
  animation: ewqhdz7haoel3_to__to 2200ms linear infinite alternate forwards
}

@keyframes ewqhdz7haoel3_to__to {
  0% {
    transform: translate(104.479454px, 38.133024px)
  }
  68.181818% {
    transform: translate(104.479454px, 38.133024px);
    animation-timing-function: cubic-bezier(0.175000, 0.885000, 0.320000, 1.275000)
  }
  86.363636% {
    transform: translate(104.479454px, 10.133024px)
  }
  100% {
    transform: translate(104.479454px, 10.133024px)
  }
}

#ewqhdz7haoel3 {
  animation: ewqhdz7haoel3_c_o 2200ms linear infinite alternate forwards
}

@keyframes ewqhdz7haoel3_c_o {
  0% {
    opacity: 0
  }
  68.181818% {
    opacity: 0
  }
  86.363636% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

#ewqhdz7haoel4_to {
  animation: ewqhdz7haoel4_to__to 2200ms linear infinite alternate forwards
}

@keyframes ewqhdz7haoel4_to__to {
  0% {
    transform: translate(120.511078px, 88.122847px)
  }
  45.454545% {
    transform: translate(120.511078px, 88.122847px);
    animation-timing-function: cubic-bezier(0.175000, 0.885000, 0.320000, 1.275000)
  }
  63.636364% {
    transform: translate(120.511078px, 57.122847px)
  }
  100% {
    transform: translate(120.511078px, 57.122847px)
  }
}

#ewqhdz7haoel4_ts {
  animation: ewqhdz7haoel4_ts__ts 2200ms linear infinite alternate forwards
}

@keyframes ewqhdz7haoel4_ts__ts {
  0% {
    transform: scale(1, 0)
  }
  45.454545% {
    transform: scale(1, 0);
    animation-timing-function: cubic-bezier(0.175000, 0.885000, 0.320000, 1.275000)
  }
  63.636364% {
    transform: scale(1, 1)
  }
  100% {
    transform: scale(1, 1)
  }
}

#ewqhdz7haoel5_to {
  animation: ewqhdz7haoel5_to__to 2200ms linear infinite alternate forwards
}

@keyframes ewqhdz7haoel5_to__to {
  0% {
    transform: translate(88.380451px, 87.124269px)
  }
  36.363636% {
    transform: translate(88.380451px, 87.124269px);
    animation-timing-function: cubic-bezier(0.175000, 0.885000, 0.320000, 1.275000)
  }
  54.545455% {
    transform: translate(88.380451px, 57.124269px)
  }
  100% {
    transform: translate(88.380451px, 57.124269px)
  }
}

#ewqhdz7haoel5_ts {
  animation: ewqhdz7haoel5_ts__ts 2200ms linear infinite alternate forwards
}

@keyframes ewqhdz7haoel5_ts__ts {
  0% {
    transform: scale(1, 0)
  }
  36.363636% {
    transform: scale(1, 0);
    animation-timing-function: cubic-bezier(0.175000, 0.885000, 0.320000, 1.275000)
  }
  54.545455% {
    transform: scale(1, 1)
  }
  100% {
    transform: scale(1, 1)
  }
}

#ewqhdz7haoel6_to {
  animation: ewqhdz7haoel6_to__to 2200ms linear infinite alternate forwards
}

@keyframes ewqhdz7haoel6_to__to {
  0% {
    transform: translate(95.218174px, 44.162856px)
  }
  18.181818% {
    transform: translate(95.218174px, 44.162856px);
    animation-timing-function: cubic-bezier(0.175000, 0.885000, 0.320000, 1.275000)
  }
  36.363636% {
    transform: translate(36.854932px, 44.652091px)
  }
  100% {
    transform: translate(36.854932px, 44.652091px)
  }
}

#ewqhdz7haoel6_ts {
  animation: ewqhdz7haoel6_ts__ts 2200ms linear infinite alternate forwards
}

@keyframes ewqhdz7haoel6_ts__ts {
  0% {
    transform: scale(0, 0);
    animation-timing-function: cubic-bezier(0.175000, 0.885000, 0.320000, 1.275000)
  }
  18.181818% {
    transform: scale(1, 1)
  }
  100% {
    transform: scale(1, 1)
  }
}
