.button-group {
  display: flex;

  &.small {
    button {
      height: 20px;
      line-height: 17px;
      padding: 2px 8px;
      font-size: 12px;
    }
  }

  button {
    border-radius: 0;

    &:first-child {
      border-radius: $button-border-radius 0 0 $button-border-radius;
    }

    &:last-child {
      border-radius: 0 $button-border-radius $button-border-radius 0;
    }

    &:not(:last-child) {
      border-right: none!important;
    }
  }
}


button,
input[type=submit] {
  border: none;
  background: $grey1;
  border-radius: $button-border-radius;
  font-size: 14px;
  font-weight: 500;
  padding: 0 1.5em;
  margin-bottom: 10px;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
  transition: background .1s ease-in-out;


  &:hover {
    background: shade($grey1, 10%);
  }

  &:active {
    background: shade($grey1, 20%);
  }

  &:focus {
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 2px $blue2!important;
    box-shadow: 0 0 0 1px -moz-mac-focusring;
    outline: none;
  }


  //////////////////////// SIZES
  &.large {
    height: 40px;
    line-height: 40px;
  }

  &.small {
    height: 30px;
    line-height: 30px;
  }

  &.x-small {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
  }
  //////////////////////// END SIZES

  //////////////////////// COLORS
  &.primary, &.active {
    background: $blue3;
    color: #051323;
    font-weight: 600;

    &:hover {
      background: shade($blue3, 15%);
    }

    &:active {
      background: shade($blue3, 25%);
    }
  }

  &.secondary {
    background: $blue4;
    color: #051323;
    font-weight: 600;

    &:hover {
      background: shade($blue4, 15%);
    }

    &:active {
      background: shade($blue4, 25%);
    }
  }

  &.stroked {
    border: 1px solid $blue3;
    color: $blue3;
    background: none!important;
    position: relative;
    transform: translateY(0);
    transition: transform .12s ease-in-out, box-shadow .08s ease-in-out;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 1px 5px rgba(0, 0, 0, .11);
    }

    &:focus {
      transform: translateY(0);
      box-shadow: none;
    }

  }

  &.warning {
    background: $red0;
    color: #051323;
    font-weight: 600;

    &:hover {
      background: shade($red0, 15%);
    }

    &:active {
      background: shade($red0, 25%);
    }

    &.stroked {
      border: 1px solid $slate1;
      color: #051323;
      background: white!important;

      &:hover {
        background: shade(#051323, 5%)!important;
      }
    }
  }

  &.transparent {
    background: transparent;
    box-shadow: none;
    font-weight: 400;

    &:hover {
      background: rgba(0, 0, 0, .05)!important;
    }

    &:active {
      background: rgba(0, 0, 0, .15)!important;
    }
  }

  &.outline {
    background: none;
    border: 1px solid rgba(0, 0, 0, .2);
  }
  //////////////////////// END COLORS


  //////////////////////// STYLES



  //////////////////////// LAYOUT
  &.full-width {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5!important;
  }

  &.link {

  }
  //////////////////////// END LAYOUT
}
