@import '~src/assets/css/variables';
@import '~src/assets/css/mixins';

.button-group {
  display: flex;

  &.small {
    button {
      height: 20px;
      line-height: 17px;
      padding: 2px 8px;
      font-size: 12px;
    }
  }

  button {
    border-radius: 0;

    &:first-child {
      border-radius: var(--button-border-radius) 0 0 var(--button-border-radius);
    }

    &:last-child {
      border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
    }

    &:not(:last-child) {
      border-right: none!important;
    }
  }
}

