@import '~src/assets/css/variables';
@import '~src/assets/css/mixins';

.button-group {
  display: flex;

  &.small {
    button {
      height: 20px;
      line-height: 17px;
      padding: 2px 8px;
      font-size: 12px;
    }
  }

  fiiz-button {
    border-radius: 0!important;

    &:first-child {
      button {
        border-radius: #{var(--button-border-radius)} 0 0 #{var(--button-border-radius)}!important;
      }
    }

    &:last-child {
      button {
        border-radius: 0 #{var(--button-border-radius)} #{var(--button-border-radius)} 0!important;
      }
    }

    &:not(:last-child) {
      button {
        border-right: none!important;
      }
    }
  }
}


button {
  border: none;
  border-radius: inherit;
  background: var(--slate);
  font-size: 14px;
  color: var(--text1);
  padding: 0 var(--button-padding-lr);
  line-height: 44px;
  cursor: inherit;
  text-transform: capitalize;
  margin: 0 auto;

  :hover {
    background: var(--slate-tint1);
  }
}
