@import '~src/assets/css/variables';

:host {
  padding: {
    top: 64px; // offsets the fixed header height
    right: 0;
    left: 0;
    bottom: 0;
  }
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$navbar-height});
  max-width: $container-width;
  margin: 0 auto;
}
