@import '~src/assets/css/variables';

:host {
  padding: {
    top: 28px;
    right: 20px;
    left: 20px;
    bottom: 0;
  }
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$navbar-height})
}
