form {
  flex-grow: inherit;
  margin-bottom: 15px;

  .form-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1em;
  }
}
