@import '~src/assets/css/variables';
@import '~src/assets/css/functions';
@import '~src/assets/css/mixins';

.iti {
  width: 100%!important;

  input {
    padding-left: calc(52px + (#{var(--input-padding-lr)} / 2 ))!important;
  }

  &__country-list {
    background: var(--slate4);
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    @include elevate(2);
  }

  &__divider {
    border-bottom: 1px solid var(--slate4-shade15);
  }

  &__flag-container {
  }

  &__selected-flag {
    padding: 0 6px 0 16px;
  }
}


