@import '~src/assets/css/variables';
@import '~src/assets/css/functions';
@import '~src/assets/css/mixins';

.iti {
  width: 100%!important;

  input {
    padding-left: calc(52px + $input-padding);
  }

  &__country-list {
    background: $slate4;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    @include elevate(2);
  }

  &__divider {
    border-bottom: 1px solid tint($slate4, 15);
  }

  &__flag-container {
  }

  &__selected-flag {
    padding: 0 6px 0 16px;
  }
}


