@mixin fiizBorder($placement, $size, $color) {
  background-image:
          repeating-linear-gradient(-60deg, $color, $color 1px, transparent 1px, transparent 3px, $color 3px),
          repeating-linear-gradient(30deg, $color, $color 1px, transparent 1px, transparent 3px, $color 3px),
          repeating-linear-gradient(120deg, $color, $color 1px, transparent 1px, transparent 3px, $color 3px),
          repeating-linear-gradient(210deg, $color, $color 1px, transparent 1px, transparent 3px, $color 3px);

  @if $placement == 'left' {
    background-size: $size 100%, 100% 0, 0 100%, 100% 0;
  }

  @if $placement == 'top' {
    background-size: 0 100%, 100% $size, 100% 0, 100% 0;
  }

  @if $placement == 'right' {
    background-size: 0 100%, 100% 0, $size 100%, 100% 0;
  }

  @if $placement == 'bottom' {
    background-size: 0 100%, 100% 0, 0 100%, 100% $size;
  }

  @if $placement == 'all' {
    background-size: $size 100%, 100% $size, $size 100%, 100% $size;
  }

  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}


@mixin triangle($direction, $width, $height, $color, $borderColor: "") {
  width: 0;
  height: 0;

  @if $direction == 'up' {
    border-left: $height + px solid transparent;
    border-right: $height + px solid transparent;
    border-bottom: $height + px solid $color;

    @if unquote($borderColor) {
      &:before {
        content: '';
        display: block;
        position: relative;
        top: -$height;
        left: 2px;
        width: 0;
        height: 0;
        border-left: $height + 1 + px solid transparent;
        border-right: $height + 1 + px solid transparent;
        border-bottom: $height + 1 + px solid $borderColor;
      }
    }
  }

  @if $direction == 'down' {
    border-left: $height + px solid transparent;
    border-right: $height + px solid transparent;
    border-top: $height + px solid $color;

    @if unquote($borderColor) {
      &:before {
        content: '';
        display: block;
        position: relative;
        top: -$height;
        left: 2px;
        width: 0;
        height: 0;
        border-left: $height + 1 + px solid transparent;
        border-right: $height + 1 + px solid transparent;
        border-top: $height + 1 + px solid $borderColor;
      }
    }
  }


  @if $direction == 'right' {
    border-top: $height + px solid transparent;
    border-bottom: $height + px solid transparent;
    border-left: $width + px solid $color;

    @if unquote($borderColor) {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -11px;
        right: -1px;
        z-index: -1;
        width: 0;
        height: 0;
        border-top: $height + 1 + px solid transparent;
        border-bottom: $height + 1 + px solid transparent;
        border-left: $width + 1 + px solid $borderColor;
      }
    }
  }

  @if $direction == 'left' {
    border-top: $height + px solid transparent;
    border-bottom: $height + px solid transparent;
    border-right: $height + px solid $color;


    @if unquote($borderColor) {
      &:before {
        content: '';
        display: block;
        position: relative;
        top: -$height;
        left: 2px;
        width: 0;
        height: 0;
        border-top: $height + 3 + px solid transparent;
        border-bottom: $height + 3 + px solid transparent;
        border-right: $height + 3 + px solid $borderColor;
      }
    }
  }


}

@mixin ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin btnTheme($theme, $elmClass){
  $iconContainer : #95C2F6;
  $iconColor : #25304E;
  $title : #131828;
  $subtitle : #191F30;
  @if $theme == 'dark' {
    $iconContainer : #35649A;
    $iconColor : #CCD8F9;
    $title : #CCD8F9;
    $subtitle : #A7B2D2;
  } @else if $theme == 'orange' {
    $iconContainer : #FFD36E;
    $iconColor : #413415;
    $title : #030405;
    $subtitle : #413415;
  } @else if $theme == 'purple' {
    $iconContainer : #9D6EFF;
    $iconColor : #422C6E;
    $title : #DBC8FF;
    $subtitle : #DBC8FF;
  } @else if $theme == 'pitch' {
    $iconContainer : #F1DFCD;
    $iconColor : #413415;
    $title : #030405;
    $subtitle : #413415;
  }
  .#{$elmClass} {
    &__icon {
        background-color: $iconContainer;
        & i {
            color: $iconColor;
        }
    }
    &__content {
        &__title {
            color: $title;
        }
        &__sub_title {
          color: $title;
      }
    }
  }
}

@mixin btnBG($theme) {
  @if $theme == 'light' {
    background-color: #759ACA;
  } @else if $theme == 'dark' {
    background-color: #254876;
  } @else if $theme == 'orange' {
    background-color: #CFAB5A;
  } @else if $theme == 'purple' {
    background-color: #7550C1;
  } @else if $theme == 'pitch' {
    background-color: #CCBBA9;
  }
}
