@import '~src/assets/css/variables';


.flex-table {
  //margin-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-end;
    color: #80CBC2;

    &__heading {

    }
  }

  &__body {
    overflow-y: scroll;
    height: 100%;

    @include hideScrollBars();
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    cursor: pointer !important;

    &.editing {
      background: var(--primary);
      color: white;
      font-weight: 700;

      fiiz-date-picker {
        color: #333 !important;
        font-weight: 400 !important;
      }
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }

    &:hover {
      background: rgba(255, 255, 255, .02);
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    flex: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    min-width: 0;
    @include ellipsis();


    &:first-child {
      flex: 2;
    }

    &.long-text {
      overflow: hidden;
    }

    > div {
      @include ellipsis();
    }

    ~ div {
      // simulating a table cell gutter of .25em
      padding: 19px .25em 20px .25em;
      width: 100%;

      &:first-child {
        padding: 19px .25em 20px 0;
      }

      &:last-child {
        padding: 19px 0 20px .25em;
      }
    }

    &.heading {
      flex: 1;
      font-weight: 400;
      padding: .75em .25em!important;
    }
  }


  &__empty {
    display: flex;
    justify-content: space-around;
    padding: 5px;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      flex: 1;
      font-weight: 700;

    }
  }

  .align-center {
    justify-content: space-around !important;
    text-align: center !important;
    display: flex;
    align-items: center;
  }

  .align-left {
    justify-content: space-between !important;
    text-align: left !important;
  }

}

.flex-table.striped {
  .flex-table__row {
    &:nth-child(2n+1) {
      background: rgba(255, 255, 255, .02);
    }
  }
}


//////////////////////////////////////////////////////////////////
///////// WARNING: Stupid Bitch-ass HTML Table Below /////////////
//////////////////////////////////////////////////////////////////

table.fiiz-table {
  width: 100%;

  &.striped tr:nth-child(2n) {
    background: rgba(255, 255, 255, .02);
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, .10);
  }

  thead {
    th {
      color: #64738E;
      font-size: 12px;
      font-weight: 500;
      padding: 0 1em;
      line-height: 36px;
      position: relative;
      white-space: nowrap;

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

  }

  td {
    font-size: 14px;
    font-weight: 400;
    color: #003247;
    padding: 0 1em;
    line-height: 46px;
    white-space: nowrap;

    &:last-child {
      //color: #2FB3F3;
      font-size: 16px;
      font-weight: 500;
    }

    chart {
      height: 46px;
      width: 120px;
      position: relative;
      bottom: -5px;
      margin: 0 auto;
    }
  }

  .center {
    text-align: center;
  }

  .tooltip-toggle {

    &::before {
      width: 212px;
      padding: 0;
    }

  }
}


fiiz-grid.table {
  .table-heading {
    @include ellipsis();
    color: var(--green1);
    line-height: 36px;
    font-size: .9em;
  }
}
