@import '../../assets/css/mixins';
// colors
$grey1: #E9E9E9;
$grey2: #CAD2E2;

$blue0: #85C8ED;
$blue1: #44ADDF;
$blue2: #5BA5F9;
$blue3: #5BA5F9; // primary
$blue3-shaded: #008BC8; // TODO use the mixins to shade the blue
//$blue4: #1D607D;
$blue4: #0D5777;
$blue5: #003247;
$blue6 : #0E1D34;

$slate0: #96A1B4;
$slate1: #64738E;
$slate2: #42526E;
$slate3: #22324D;
$slate4: #172B46;

$red0: #D05353;
$yellow0: #EABA4D;
$green0: #1A936F;
$green1: #80CBC2;

$darkBlue: #0E1D34;

// input defaults
$input-border-radius: 10px;
$input-padding-lr: 8px;
$input-padding-tb: 0;
$input-margin-bottom: 14px;

$focusring: inset 0 0 1px 2px $blue3;
$focusring-moz-mac:  inset 0 0 0 1px -moz-mac-focusring;

// button defaults
$button-border-radius: 6px;

// fonts
$text1: #C6CEED;

// components
$container-width: 1440px;
$navbar-height: 64px;
$full-height-minus-navbar: calc(100% - #{$navbar-height});
