$container-width: 1440px;

$grey1: #E9E9E9;
$grey2: #CAD2E2;

$blue0: #85C8ED;
$blue1: #44ADDF;
$blue2: #5BA5F9;
$blue3: #5BA5F9; // primary
$blue3-shaded: #008BC8;
//$blue4: #1D607D;
$blue4: #0D5777;
$blue5: #003247;

$slate0: #96A1B4;
$slate1: #64738E;
$slate2: #42526E;
$slate3: #22324D;

$red0: #D05353;
$yellow0: #EABA4D;
$green0: #1A936F;
$green1: #80CBC2;

$darkBlue: #0E1D34;

$input-border-radius: 10px;
$button-border-radius: 6px;

$form-control-shadow: 0 2px 5px 0 rgba(0, 0, 0, .22);

$ctmWidgetPaneSize: 382px;

$input-margin-bottom: 14px;

$blue6 : #0E1D34;
$text1 : #C6CEED;

$navbar-height: 64px;
$full-height-minus-navbar: calc(100% - #{$navbar-height});
