/* You can add global styles to this file, and also import other style files */
@import url('../../../node_modules/normalize.css/normalize.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/all.css');
@import url('../../../node_modules/intl-tel-input/build/css/intlTelInput.css');
@import '~@angular/cdk/overlay-prebuilt.css';
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

@import 'variables';
@import 'typefaces';
@import 'functions';
@import 'buttons';
@import 'mixins';
@import 'animating-ellipsis';
@import '4iiz-loader';
@import 'tables';
@import 'tinymce-styles';
@import "intl-tel-input";
@import "ng2-date-picker";
@import "ngx-pagination";
@import "owl-date-picker";
@import "dialog";
@import "form";

/**
  Focus Style Resets
 */
*:focus {
  box-shadow: none;
  outline: none;
}
label:focus,           // captures our custom fiiz-radio's
button:focus,          // all buttons
input:focus,           // all inputs
*[tabindex="0"]:focus, // any element with a positive tabindex
//:link:focus,           // unvisited links
//:visited:focus         // visited links
{
  box-shadow: var(--focusring)!important;
  outline: none;
}

.primary button:focus {
  box-shadow: inset 0 0 1px 2px var(--primary-tint4)!important;
}


html.cdk-global-scrollblock {
  top: 0!important;
}
html, body {
  height: 100%;
}
body {
  background: var(--background-color);
}

a {
  text-decoration: none;
  color: #{var(--text1)}!important;

  &:hover, &.active {
    color: #{var(--primary)}!important;
  }
}

.page-heading {
  margin-bottom: 30px;

  &__title {
    margin-bottom: 0;
    font-weight: 400;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #A7B2D2;
  }
}

.full-width {
  width: 100%;
}
