/* You can add global styles to this file, and also import other style files */
@import url('../../../node_modules/normalize.css/normalize.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/all.css');
@import url('../../../node_modules/intl-tel-input/build/css/intlTelInput.css');

@import '~@angular/cdk/overlay-prebuilt.css';

@import 'typefaces';
@import 'variables';
@import 'functions';
@import 'buttons';
@import 'mixins';
@import 'animating-ellipsis';
@import '4iiz-loader';
@import 'tables';
@import 'tinymce-styles';

html, body {
  height: 100%;
}
body {
  background: #0A1930;
}

a {
  color: $text1;

  &:focus {
    @include focusRing($focusring, $focusring-moz-mac);
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}


.page-heading {
  margin-bottom: 30px;

  &__title {
    margin-bottom: 0;
    font-weight: 400;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #A7B2D2;
  }
}
