@import '~src/assets/css/variables';
@import '~src/assets/css/functions';

  /* class applies to select element itself, not a wrapper element */
:host {
  display: block;
  position: relative;
  margin-bottom: $input-margin-bottom;



  @keyframes line {
    from {
      left: 50%;
      width: 0;
    }
    to {
      left: 0;
      width: 100%;
    }
  }


  label {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0;
    position: absolute;
    left:0;
    top: -14px;
  }

  textarea {
    position: relative;
    display: block;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: $text1;
    line-height: 1.5em;
    padding: 20px;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    @include elevate(1);
    border-radius: $input-border-radius;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $slate4;
    z-index: 1;
    cursor: text;
    resize: none;

    &:focus {
      /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
      box-shadow: none!important;
      outline: none;
    }

    &:after {
      position:absolute;
      display:block;
      content: '';
      width:0;
      height:2px;
      bottom:0;
      background: red;
    }

    &.ng-invalid.ng-dirty {
      &:after {
        width: 100%;
        animation: line .25s forwards;
      }
    }

    &::-ms-expand {
      display: none;
    }

    &::-webkit-autofill:focus {
      font-size: 12px;
      font-weight: 500;
    }

    &:disabled, &[aria-disabled=true] {
      opacity: .5;
      cursor: not-allowed;
    }

    &:disabled:hover, &[aria-disabled=true] {
      border-color: #aaa;
    }

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }


  wysiwyg-container {
    display: flex;
    button {
      margin-bottom: 0;
      border-radius: 0;
      flex: 1;
      background: #1E314E;
      color: #7D89A6;

      &.active {
        background: shade(#1E314E, 25);
        color: shade(#7D89A6, 25);
      }

      &:focus {
        outline: 0;
        box-shadow: none!important;
      }
    }
  }

}



