@import '../../../../../assets/css/mixins';

:host {
  @include hideScrollBars();
  display: block;
  width: 100%;
}

.controls {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: space-between;
}
