<header>
  <h3>{{data.title}}</h3>
  <p *ngIf="resolution[selectedId]?.secret">{{resolution[selectedId].secret}}</p>
</header>
<div *ngIf="data">
  <ng-container *ngIf="resolution[selectedId]">
    <p class="dictation" *ngFor="let step of resolution[selectedId].steps">{{step}}</p>
  </ng-container>
  <div class="controls">
    <fiiz-button primary (click)="goToSetAppointment()">Set Appointment</fiiz-button>
    <fiiz-button stroked warning (click)="endCall()">Object and End Call</fiiz-button>
  </div>
</div>
