<div *ngIf="data">
  <h3>{{data.title}}</h3>
  <p>{{data.body}}</p>
  <p class="dictation">I can hear you’re going through a tough time right now. Having the right advice from a trusted professional would make all the difference, wouldn’t you agree? (Wait for answer)</p>
  <p class="dictation">We are waiving our consultation fee for you and there is no obligation for you to hire. Our only goal is to help as many people as possible, which means specifically providing you with the information you need. Now, let’s get you scheduled for your free consultation appointment.</p>
  <fiiz-button primary>Set Appointment</fiiz-button>
  <p class="dictation">Okay, I completely understand. I would like to say thank you for contacting us in this difficult time. We’ll be sure to stay in contact with you to make sure you don’t have any other questions or concerns, but please contact us in the meantime for any reason.</p>
  <form [formGroup]="form">
    <fiiz-select formControlName="objection" [items]="" #dropdown (change)="handleChange($event)"></fiiz-select>
  </form>
</div>
