@import '../../../../assets/css/variables';

:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 64px;
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 0 0;

  overflow-x: hidden;
  overflow-y: scroll;

  .flex_main_wrapper {

    &__header{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 3%;

        &__title {
            font-size: 23px;
            font-weight: 500;
            padding : 0 0 23px 0;
        }
        &__sub_title {
            font-size: 16px;
            line-height: 28px;
        }
    }
  }

  .dictation {
    font-size: 16px;
    width: fit-content;
    color: $text1;
    margin: 20px auto 40px auto;

    &:before, &:after {
      display: inline;
      content: '"'
    }
  }
}
