@import '../../../../assets/css/variables';

:host {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25%;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 0;

  overflow-x: hidden;
  overflow-y: scroll;

  .title {
    margin: 0;
  }

  .flex_main_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;


    &__header{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 3%;

        &__title {
            font-size: 23px;
            font-weight: 500;
            padding : 0 0 23px 0;
        }
        &__sub_title {
            font-size: 16px;
            line-height: 28px;
        }
    }
  }

  .dictation {
    text-align: center;
    font-size: 16px;
    color: #C6CEED;

    &:before, &:after {
      display: inline;
      content: '"'
    }
  }
}
