
/* class applies to select element itself, not a wrapper element */
:host {
  width: fit-content;

  label {
    width: fit-content;
    display: flex;
    position: relative;
    //padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2.25em;
    gap: .75em;
    padding: 0 .5em;
    border-radius: var(--button-border-radius);

    input {
      display: none;
    }

    &.disabled {
      opacity: .5;
    }

    /* Create a custom radio button */
    .checkmark {
      height: 20px;
      width: 20px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        display: none;
        top: 50%;
        left: 18px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #80CBC2;
        transform: translate(-50%, -50%);
      }
    }

    &:hover input ~ .checkmark {
      //background-color: #ccc;
    }

    input:checked ~ .checkmark {
      background-color: shade(#80CBC2, 50%);
    }

    input:checked ~ .checkmark:after {
      display: block;
    }
  }

}
