.container {

  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;

  &__quickstart {
    color: #5F6E8D;
  }

  h3 {
    font-size: 18px;
    color: #5F6E8D;
    font-weight: 400;
  }

  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
    justify-content: center;
    align-items: baseline;
    gap: 2em;
    margin-bottom: 3rem;

    fiiz-big-button {
      // flex: 50%;
      // flex-grow: 0;
      // padding: 0 15px 30px 0px;
      // box-sizing: border-box;
    }
  }

}
