<div class="page-heading" style="flex-direction: column;">
  <h2 class="page-heading__title" *ngIf="user">Welcome back, {{user.fullName}}</h2>
  <div class="page-heading__subtitle">Select a task from one of the quickstart options below to get started</div>
  <a href="#" (click)="logout()">Logout</a>
</div>

<div class="container">

  <h3>Quickstart</h3>
  <section class="dashboard__quickstart" *ngIf="quickStartMenu.length" @bigButtons>
    <fiiz-big-button *ngFor="let item of quickStartMenu"
                     tabindex="-1"
                     [icon]="item?.icon"
                     [title]="item?.title"
                     [subtitle]="item?.subtitle"
                     [theme]="item?.theme"
                     [routerLink]="item?.route"
                     (onClick)="doSomething($event)"></fiiz-big-button>
  </section>

  <h3>Education and Support</h3>
  <section class="dashbaord__support" *ngIf="supportMenu.length" @bigButtons>
    <fiiz-big-button *ngFor="let item of supportMenu"
                     tabindex="-1"
                     [icon]=item?.icon
                     [title]=item?.title
                     [subtitle]=item?.subtitle
                     [routerLink]="item?.route"
                     [theme]=item?.theme
    ></fiiz-big-button>
  </section>

</div>
