<div class="dashboard">

  <div class="dashboard__heading">
    <h2 class="dashboard__heading__title"> Welcome back, {{loggedUser.name}}</h2>
    <div class="dashboard__heading__subtitle">Select a task from one of the quickstart options below to get started</div>
    <a href="#" (click)="logout()">Logout</a>

  </div>


  <h3>Quickstart</h3>
  <section class="dashboard__quickstart" *ngIf="quickStartMenu.length" @bigButtons>
    <fiiz-big-button *ngFor="let item of quickStartMenu"
                     [icon]="item?.icon"
                     [title]="item?.title"
                     [subtitle]="item?.subtitle"
                     [theme]="item?.theme"
                     [routerLink]="item?.route"
                     (onClick)="doSomething($event)"></fiiz-big-button>
  </section>

  <h3>Education and Support</h3>
  <section class="dashbaord__support" *ngIf="supportMenu.length" @bigButtons>
    <fiiz-big-button *ngFor="let item of supportMenu"
                     [icon]=item?.icon
                     [title]=item?.title
                     [subtitle]=item?.subtitle
                     [routerLink]="item?.route"
                     [theme]=item?.theme
    ></fiiz-big-button>
  </section>

</div>
