@import '~src/assets/css/mixins';
@import '~src/assets/css/functions';

:host {
  overflow: hidden;
  border-radius: var(--button-border-radius);
  height: auto;
  @include elevate(1);
  cursor: pointer;

  fiiz-loading {
    width: 44px;
    height: 44px;
  }

  &.dropdown {
    background: var(--slate);
    border-radius: var(--button-border-radius);

    button {
      justify-content: flex-start;
    }
    &:hover {
      background: var(--slate)!important;
    }
  }

  // default styling
  button,
  input[type=submit] {
    display: flex;
    min-width: 0;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    border: none;
    border-radius: inherit;
    background: var(--slate);
    font-size: 14px;
    font-weight: 500;
    color: var(--text1);
    padding: 0 var(--button-padding-lr);
    height: 44px;
    line-height: 44px;
    cursor: inherit;
    text-transform: capitalize;
    margin: 0 auto;

    &:hover {
      background: var(--slate-shade1);

    }

    &:active {
      background: var(--slate-shade2);
    }
  }

  &.full-width {
    justify-content:space-around;
  }

  &.large {
    height: 40px;
    line-height: 40px;
  }

  &.small {
    height: 30px;
    line-height: 30px;
  }

  &.x-small {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
  }


  &.disabled {
    cursor: not-allowed;
    opacity: .5 !important;
    background: var(--primary-shade8);
  }

  &.link {

  }

  // Added by primary.directive.ts
  &.primary,
  &.active {
    button {
      background: var(--primary);
      color: #051323;
      font-weight: 600;

      &:hover {
        background: var(--primary-tint1);
      }

      &:active {
        background: var(--primary-shade3);
      }
    }
  }


  &.transparent {
    button {
      background: transparent;
      box-shadow: none;
      font-weight: 400;

      &:hover {
        background: rgba(255, 255, 255, .02) !important;
      }

      &:active {
        background: rgba(255, 255, 255, .02) !important;
      }
    }
  }

  // Added by stroked.directive.ts
  &.stroked {
    button {
      background: none;
      border: 1px solid var(--slate-tint2);

      &:hover {
        background: rgba(255, 255, 255, .02);
        border: 1px solid var(--slate-tint3);
      }
    }

  }

  // added by warning.directive.ts
  &.warning {

    button {
      background: var(--red);
      color: var(--red-shade8);
      font-weight: 600;
      &:hover {
        background: var(--red-shade2);
        color: var(--red-shade9);
      }

      &:active {
        background: var(--red-shade4);
        color: var(--red-shade9);
      }
    }
  }

  // composite of warning and stroked
  &.stroked.warning {

    border: 1px solid var(--red);
    color: var(--red-tint1);
    background: none !important;

    &:hover {
      border: 1px solid var(--red);
      color: var(--red-tint1);
      background: rgba(0, 0, 0, .15) !important;
    }

  }

  &.dropdown {
    button {
      width: 100%;
      @include elevate(1);
      background-color: var(--slate);
      color: var(--text1);

      &:hover {
        background-color: var(--slate-tint1);
      }
    }
  }


}
