@import '~src/assets/css/mixins';
@import '~src/assets/css/functions';

:host {
  overflow: hidden;
  border-radius: var(--button-border-radius);
  height: 46px;
  @include elevate(1);
  background: var(--slate);
  box-sizing: border-box;

  fiiz-loading {
    width: 44px;
    height: 44px;
  }

  .dropdown {
    background: var(--slate);
    border-radius: var(--button-border-radius);
    &:hover {
      background: var(--slate)!important;
    }
  }

  // default styling
  button,
  input[type=submit] {
    display: flex;
    min-width: 0;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--text1);
    padding: 0 var(--button-padding-lr);
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    transition: background .1s ease-in-out, width .25s ease-out;
    text-transform: capitalize;

    &.full-width {
      justify-content:space-around;
    }


    //////////////////////// SIZES
    &.large {
      height: 40px;
      line-height: 40px;
    }

    &.small {
      height: 30px;
      line-height: 30px;
    }

    &.x-small {
      font-size: 12px;
      height: 24px;
      line-height: 24px;
    }

    //////////////////////// END SIZES

    //////////////////////// COLORS
    &.primary, &.active {
      background: var(--primary);
      color: #051323;
      font-weight: 600;

      &:hover {
        background: var(--primary-shade1);
      }

      &:active {
        background: var(--primary-shade3);
      }
    }

    &.transparent {
      background: transparent;
      box-shadow: none;
      font-weight: 400;

      &:hover {
        background: rgba(0, 0, 0, .05) !important;
      }

      &:active {
        background: rgba(0, 0, 0, .15) !important;
      }
    }

    &.outline {
      background: none;
      border: 1px solid rgba(0, 0, 0, .2);
    }

    //////////////////////// END COLORS



    //////////////////////// LAYOUT

    &:disabled {
      cursor: not-allowed;
      opacity: .5 !important;
    }

    &.link {

    }

    //////////////////////// END LAYOUT
  }

  // Added by primary.directive.ts
  &.primary {
    button {
      background: var(--primary);
      color: #051323;
      font-weight: 600;

      &:hover {
        background: var(--primary-shade1);
      }

      &:active {
        background: var(--primary-shade3);
      }
    }
  }

  // Added by stroked.directive.ts
  &.stroked {
    button {
      background: rgba(0, 0, 0, .05);
      border: 1px solid var(--slate-tint2);
      color: var(--text1);
      position: relative;
      transform: translateY(0);
      transition: transform .12s ease-in-out, box-shadow .08s ease-in-out;
      line-height: 42px;

      &:hover {
        border: 1px solid var(--slate-tint1);
        color: var(--slate-tint7);
        background: rgba(0, 0, 0, .15);
      }

      &:focus {
        transform: translateY(0);
        box-shadow: none;
      }
    }
  }

  // added by warning.directive.ts
  &.warning {

    button {
      background: var(--red);
      color: var(--red-shade8);
      font-weight: 600;

      &:hover {
        background: var(--red-shade2);
        color: var(--red-shade9);
      }

      &:active {
        background: var(--red-shade4);
        color: var(--red-shade9);
      }
    }
  }

  // composite of warning and stroked
  &.stroked.warning {
    button {
      border: 1px solid var(--red);
      color: var(--red-tint1);
      background: none !important;

      &:hover {
        border: 1px solid var(--red);
        color: var(--red-tint1);
        background: rgba(0, 0, 0, .15) !important;
      }
    }
  }

  &.dropdown {
    button {
      width: 100%;
      @include elevate(1);
      background-color: var(--slate);
      color: var(--text1);

      &:hover {
        background-color: var(--slate-tint1);
      }

      &:focus {
        background-color: var(--slate-tint1);
      }

      &:focus-visible {
        outline: 0;
        background-color: var(--slate-tint1);
      }
    }
  }

  &:hover {
    background: var(--slate-shade1);
  }

  &:active {
    background: var(--slate-shade2);
  }

  &:focus {
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    @include focusRing(#{var(--focusring)}, #{var(--focusring-moz-mac)});
  }

  &:focus-visible {
    @include focusRing(#{var(--focusring)}, #{var(--focusring-moz-mac)});
  }
}
