@import '../../../../../assets/css/variables';
@import '../../../../../assets/css/mixins';
@import '../../../../../assets/css/functions';

:host {
  .sidebar {

    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__parent {
      margin: 0;
      padding-left: 5px;
      overflow: hidden;
    }

    &__header {
      @include elevate(1);
      background: $slate3;
      font-weight: 400;
      line-height: 1em;
      list-style: none;
      padding: 1.25em;
      font-size: 14px;
      cursor: pointer;

      &:hover {

      }

      & i {
        float: right;
      }
    }

    &__item {
      display: block;
      cursor: pointer;
      line-height: 50px;
      padding-left: 25px;

      &__icon {
        font-size: 24px;
        width: 84px;
        text-align: center;
        line-height: 50px;
      }

      &__title {
        font-size: 18px;
        font-weight: 500;
      }

      &.active {
        color: $text1;
      }

      &:focus {
        @include focusRing($focusring, $focusring-moz-mac);
      }
    }
  }
}
