<nav class="sidebar">
  <ul #menuGroup class="sidebar__parent" *ngFor="let items of menu; let i = index" id="group{{i}}"
      [@menu-slider]="items.state">

    <li class="sidebar__header" (click)="toggleMenu(i)">
      {{items.label}} <i [@arrow-slider]="items.state" class="fa-solid fa-caret-down"></i>
    </li>

    <li *ngFor="let item of items.children">

      <a tabindex="0" class="sidebar__item"
         [ngClass]="{'active': parseModuleFromPath === item.path}"
         (click)="onClick(item)">
        <!--            <i class="sidebar__item__icon {{item.icon}}"></i>-->
        {{item.label}}
      </a>

    </li>
  </ul>
</nav>
