@import '../../../../../assets/css/variables';
@import '../../../../../assets/css/mixins';
@import '../../../../../assets/css/functions';

:host {

  .sidebar {
    flex: 1;
    height: 100%;
    display: none;
    flex-direction: column;

    &__parent {
      margin: 0;
      overflow: hidden;
      height: auto;
      padding: 0;
    }

    &__header {
      background: var(--slate);
      font-weight: 400;
      line-height: 44px;
      list-style: none;
      padding: 0 1.25em;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:hover {

      }

      & i {
        float: right;
      }
    }

    &__item {
      display: block;
      cursor: pointer;
      line-height: 50px;
      padding-left: 25px;

      &__icon {
        font-size: 24px;
        width: 84px;
        text-align: center;
        line-height: 50px;
      }

      &__title {
        font-size: 18px;
        font-weight: 500;
      }

      &.active {
        color: #{var(--text1)};
      }

    }
  }
  .mobile-menu {
    display: block;
  }
}

@media all and (min-width: $mobile-threshold) {
  :host {
    nav {
      display: flex!important;
    }

    .mobile-menu {
      display: none;
    }
  }
}
