@import '~src/assets/css/variables';

.flex_main_wrapper {    

    &__header{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 3%;

        &__title {
            font-size: 23px;
            font-weight: 500;
            padding : 0px 0px 23px 0px;
        }
        &__sub_title {
            font-size: 16px;
            line-height: 28px;
        }
    }
    
    &__slots {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 4%;

        &__day {
            font-size: 14px;
            font-weight: 500;
            color: $green1;            
        }

        &__time {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            margin: 16px 0 0 0;
            & div {
                margin-right: 10px;
            }
        }

    }

}

.btn_time_slots{
    border: 1px solid #7D89A6;
    color: #7D89A6;
    background: none;
    width: 142px;

    &.active, &:hover {
        border: 1px solid #95A9C0;
        color: #000000;
        background: #6F93BB;
    }
}