<div class="flex_main_wrapper">

    <div class="flex_main_wrapper__header">
        <div class="flex_main_wrapper__header__title">
            Set Appointment
        </div>
        <div class="flex_main_wrapper__header__sub_title">
            "We have availability at our office as soon as..."
        </div>
    </div>

    <div class="flex_main_wrapper__slots">
        <div class="flex_main_wrapper__slots__day">
            Wednesday April 1, 2022
        </div>
        <div class="flex_main_wrapper__slots__time">
            <div>
                <button class="btn_time_slots">11:00 am</button>            
            </div>
            <div>
                <button class="btn_time_slots">12:30 pm</button>
            </div>
        </div>
    </div>

    <div class="flex_main_wrapper__slots">
        <div class="flex_main_wrapper__slots__day">
            Wednesday April 1, 2022
        </div>
        <div class="flex_main_wrapper__slots__time">
            <div>
                <button class="btn_time_slots">11:00 am</button>            
            </div>
            <div>
                <button class="btn_time_slots">12:30 pm</button>
            </div>
        </div>
    </div>

    <div class="info">
        "May I have a good email address for you and I will send you a confirmation of your appointment, it will also include driving directions to our office."
    </div>

</div>
