@import '~src/assets/css/variables';
@import '~src/assets/css/functions';
@import '~src/assets/css/mixins';

:host {
  display: block;
  position: relative;
  margin-bottom: $input-margin-bottom;

  .no-title {
    width: 50px;
  }

  &.has-label {
    margin-top: 30px;
    color: rgba(198, 203, 237, .62);
  }

}
.fiiz-dropdown-button {
  z-index: 1;
  width: 100%;

  &__dropdown {
    i {
      flex : 1;
      text-align: right;
    }
  }

  &__content {
    position: absolute;
    list-style: none;
    background-color: $slate4;
    padding: 0;
    margin: 0;
    top: 54px;
    border-radius: $button-border-radius;
    white-space: nowrap;
    min-width: 100%;
    z-index: 10;

    &__wrapper {
      background: $slate3;
      @include elevate(2);
    }

    div {

      i {
        padding-right: 10px;
        align-items: flex-end;
        flex-direction: column;
        align-items: end;
      }

      button {
        width: 100%;
        padding: 0 2em;
        margin: 0;
        text-align: left;
        border-radius: 0;
      }

      a {
        display: block;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
      }

      &.divider {
        border-bottom: 1px solid rgb(255 255 255 / 10%);
      }

      &.disabled {
        background-color: #dddddd;

        & a {
          cursor: not-allowed;
          color: #525252;
        }
      }

      &:first-child button {
        border-radius: $button-border-radius $button-border-radius 0 0;
      }
      &:last-child button {
        border-radius: 0 0 $button-border-radius $button-border-radius;
      }

      & input.search {
        background-color: $slate4;
        color : $text1;
        padding: 10px;
        font-size: 14px;
      }

      & input.search:disabled {
        opacity: 1 !important;
      }

    }

    &__item {
      text-decoration: none;
    }

    fiiz-input{
      margin-bottom: 0px;
      & input:disabled {
        opacity: 1 !important;
      }
    }

    &__wrapper {
      max-height: 200px;
      overflow-y: auto;
    }

    fiiz-button.selected {
        button {
          background-color: #525252;
        }

    }

  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.fiiz-dropdown-button-bottom-right {
  right: 0;
}

.fiiz-dropdown-button-bottom-left {
  left: 0;
}

.fiiz-dropdown-button-top-right {
  right: 0;
  bottom: 110%;
}

.fiiz-dropdown-button-top-left {
  left: 0;
  bottom: 110%;
}

label {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 0;
  position: absolute;
  top: -20px;
  left: 16px;
}
