<label [for]="id" *ngIf="label">{{label}}</label>
<div class="fiiz-dropdown-button" [ngClass]="{ 'no-title': !title }" >
    <ng-container [ngSwitch]="dropdownType">

        <fiiz-button class="dropdown fiiz-dropdown-button__dropdown">
            {{title}}
            <i class="fa-solid fa-caret-down"></i>
        </fiiz-button>

    </ng-container>

    <div #dropdownList class="fiiz-dropdown-button__content fiiz-dropdown-button-{{position}}" *ngIf="showDropDowns" [@dropDownMenu]="" [ngSwitch]="type" >

        <ng-template [ngIf]="dropdownType === 'search'">
          <form [formGroup]="searchForm">
            <fiiz-input
              formControlName="search"
              autocomplete="off"
              (keyup)="onKeyUpEvent($event)"
              type="text"
              placeholder="Search..."
              class="search"
              id="search-dropdown"
            ></fiiz-input>
          </form>
            <div class="fiiz-dropdown-button__content__wrapper">

              <fiiz-button tabindex="0"  *ngFor="let item of items; let i = index; let last = last;" [ngClass]="{'selected': currentIndex === i, 'dropdown' : true, 'divider':!last}" (click)="setTheValue(item.label, item.id)" style="border-radius: 0;">
                  {{ item.label }}
              </fiiz-button>

            </div>
        </ng-template>

        <ng-template [ngIf]="dropdownType === 'button'" >
            <div *ngFor="let item of items; let i = index; let last = last" [ngClass]="{'divider': !last}">
                <fiiz-button class="dropdown" (click)="emitTheValue(item.emitterValue)">
                    <i [class]="item.icon"></i> {{ item.label }}
                </fiiz-button>
            </div>
        </ng-template>

        <ng-template [ngIf]="dropdownType === 'anchor'" >
            <div *ngFor="let item of items; let i = index; let last = last " [ngClass]="{'divider': !last}">
                <a routerLink="item.path">
                    <i [class]="item.icon"></i> {{ item.label }}
                </a>
            </div>
        </ng-template>

    </div>
</div>
