@import '~src/assets/css/functions';
@import '~src/assets/css/mixins';

:host {
  display: block;
  position: relative;
  margin-bottom: var(--input-margin-bottom);
  border-radius: var(--input-border-radius);
  height: fit-content;

  label {
    color: rgba(198, 203, 237, 0.62);
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0;
    position: absolute;
    top: -15px;
    left: 2em;
    line-height: 1em;
  }

  label.required:after {
    content: ' *';
    color: var(--text1-shade25);
  }

  &.has-label {
    margin-top: 30px;
    color: rgba(198, 203, 237, .62);
  }

  form {
    margin: 0;
  }

  &.small button {
    height: 32px !important;
    line-height: 32px !important;
  }

  .dropdown-menu {
    position: absolute;
    list-style: none;
    background-color: var(--slate);
    padding: 0;
    margin: 0;
    border-radius: var(--button-border-radius);
    overflow: hidden;
    white-space: nowrap;
    min-width: 100%;
    z-index: 10;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    @include elevate(2);
    @include hideScrollBars();

    form {
      margin-bottom: 0;
    }

    .fa-square {

    }
    .fa-square-check {
      color: var(--primary);
    }

    &__wrapper {
      background: var(--slate1);
    }

    &__items {
      max-height: 200px;
      overflow-y: auto;
    }

    div {

      i {
        padding-right: 10px;
        align-items: flex-end;
        flex-direction: column;
      }

      button {
        width: 100%;
        padding: 0 2em;
        margin: 0;
        text-align: left;
        border-radius: 0;
      }

      a {
        display: block;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
      }

      &.divider {
        border-bottom: 1px solid rgb(255 255 255 / 10%);
      }

      &:first-child button {
        border-radius: var(--button-border-radius) var(--button-border-radius) 0 0;
      }

      &:last-child button {
        border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
      }
    }
  }
}

[class*="fiiz-dropdown-button-bottom-"] {
  top: calc(100% + 10px);
}

[class*="fiiz-dropdown-button-top-"] {
  bottom: calc(100% + 10px);
}

[class*="-right"] {
  right: 0;
}

[class*="-left"] {
  left: 0;
}


.search input {
  border-radius: var(--input-border-radius) var(--input-border-radius) 0 0!important;
}
