@import '~src/assets/css/variables';
@import '~src/assets/css/functions';



:host {
  position: relative;

  .no-title {
    width: 50px;
  }

}
.fiiz-dropdown-button {
  height: 34px;
  z-index: 1;
  width: 100%;

  button {
    @include elevate(1);
    background-color: #172B46;
    color: #C6CEED;

    &:hover {
      background-color: shade(#172B46, 15);
    }
  }

  &__content {
    position: absolute;
    z-index: 1;
    list-style: none;
    background-color: #172B46;
    box-shadow: 0 4px 13px rgb(0 0 0 / 60%);
    padding: 0;
    margin: 0;
    border-radius: $button-border-radius;
    white-space: nowrap;

    li {

      i {
        padding-right: 10px;
      }

      button {
        width: 100%;
        padding: 0 2em;
        margin: 0;
        text-align: left;
        border-radius: 0;
      }

      a {
        display: block;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
      }

      &.divider {
        border-bottom: 1px solid rgb(255 255 255 / 10%);
      }

      &.selected {
        background-color: #C6CEED;
        font-weight: bold;

        a {
          color: #0a1930;
        }
      }

      &.disabled {
        background-color: #dddddd;

        & a {
          cursor: not-allowed;
          color: #525252;
        }
      }

      &:first-child button {
        border-radius: $button-border-radius $button-border-radius 0 0;
      }
      &:last-child button {
        border-radius: 0 0 $button-border-radius $button-border-radius;
      }
    }



    &__item {
      text-decoration: none;
    }
  }
}

.fiiz-dropdown-button-bottom-right {
  right: 0;
}

.fiiz-dropdown-button-bottom-left {
  left: 0;
}

.fiiz-dropdown-button-top-right {
  right: 0;
  bottom: 110%;
}

.fiiz-dropdown-button-top-left {
  left: 0;
  bottom: 110%;
}
