<label [for]="id" tabindex="-1" *ngIf="label" [ngClass]="{ 'required' : required }">{{label}}</label>
<div [ngClass]="{ 'no-title': !title, 'disabled': disabled }" >

  <fiiz-button class="full-width dropdown" [autofocus]="autofocus"
               [disabled]="disabled" size="{{size ? size : null}}" tabindex="-1">
    {{getDisplayValue()}}
    <i class="fa-solid fa-caret-down" style="margin-left: auto;"></i>
  </fiiz-button>

  <div #dropdownList @dropDownMenu class="dropdown-menu fiiz-dropdown-button-{{position}}" *ngIf="isOpen"
       [ngSwitch]="type">

    <ng-template [ngIf]="dropdownType === 'search' || dropdownType === 'basic'">
      <form [formGroup]="searchForm" *ngIf="dropdownType === 'search'">
        <fiiz-input
          id="search"
          #searchInput
          formControlName="search"
          autocomplete="off"
          [autofocus]="true"
          (keyup)="onKeyUpEvent($event)"
          type="text"
          placeholder="Search..."
          class="search"
        ></fiiz-input>
      </form>
      <div class="dropdown-menu__items">
        <ng-template *ngIf="!(loadingSubject$ | async)">
          <fiiz-loading type="ripple"></fiiz-loading>
        </ng-template>

        <fiiz-button tabindex="-1"
           *ngFor="let item of items$ | async; let i = index; let last = last; "
           [disabled]="item.disabled"
           [ngClass]="{'selected': multiselect ? item.checked : currentIndex === i, 'dropdown': true, 'multiselect-item': multiselect, 'divider': !last}"
           (click)="$event.stopPropagation(); setTheValue($event, item)"
           style="border-radius: 0;">
          <i class="fa" [ngClass]="{'fa-square': !item.checked, 'fa-square-check': item.checked }" *ngIf="multiselect"></i>
          {{ item.label }}
        </fiiz-button>

      </div>
    </ng-template>

    <ng-template [ngIf]="dropdownType === 'button'">

        <fiiz-button class="dropdown"
                     tabindex="-1"
                     *ngFor="let item of items$ | async; let i = index; let last = last"
                     [disabled]="item.disabled"
                     [ngClass]="{'divider': !last}"
                     (click)="emitTheValue(item.emitterValue)"><i [class]="item.icon"></i> {{ item.label }}</fiiz-button>

    </ng-template>

    <ng-template [ngIf]="dropdownType === 'anchor'">
      <div *ngFor="let item of items$ | async; let i = index; let last = last " [ngClass]="{'divider': !last}">
        <a routerLink="item.path">
          <i [class]="item.icon"></i> {{ item.label }}
        </a>
      </div>
    </ng-template>

  </div>
</div>
