<label [for]="id" tabindex="-1" *ngIf="label" [ngClass]="{ 'required' : required }">{{label}}</label>
<div [ngClass]="{ 'no-title': !title, 'disabled': disabled }">

  <fiiz-button class="full-width dropdown" [autofocus]="autofocus" [disabled]="disabled" size="{{size ? size : null}}" tabindex="-1">
    {{getDisplayValue()}}
    <i class="fa-solid fa-caret-down" style="margin-left: auto;"></i>
  </fiiz-button>

  <div #dropdownList @dropDownMenu class="dropdown-menu {{position}}" *ngIf="showDropDowns"
       [ngSwitch]="type">

    <ng-template [ngIf]="dropdownType === 'search' || dropdownType === 'basic'">
      <form [formGroup]="searchForm" *ngIf="dropdownType === 'search'">
        <fiiz-input
          #searchInput
          formControlName="search"
          autocomplete="off"
          [disabled]="disabled"
          [autofocus]="true"
          (keyup)="onKeyUpEvent($event)"
          type="text"
          placeholder="Search..."
          class="search"
          id="search-dropdown"
        ></fiiz-input>
      </form>
      <div class="dropdown-menu__items" >
        <ng-template *ngIf="!(loadingSubject$ | async)">
          <fiiz-loading type="ripple"></fiiz-loading>
        </ng-template>

        <fiiz-button
          *ngIf="required == false && dropdownType === 'search'"
          tabindex="-1"
          class="dropdown"
          (click)="setTheValue(null, null)"
          style="border-radius: 0;">
        --None--
        </fiiz-button>
        <fiiz-button tabindex="-1" 
           *ngFor="let item of items$ | async; let i = index; let last = last; "
           [ngClass]="{'selected': multiselect ? isPreselected(item.id) : currentIndex === i, 'dropdown': true, 'divider':!last}"
           (click)="setTheValue(item.id, item.label)"
           [disabled]="disabled"
           data-qa="dropdown-items"
           style="border-radius: 0;">
          <i class="fa" [ngClass]="{'fa-square': multiselect, 'fa-square-check': multiselect && isPreselected(item.id) }" *ngIf="multiselect"></i>
          {{ item.label }}
        </fiiz-button>

      </div>
    </ng-template>

    <ng-template [ngIf]="dropdownType === 'button'">

        <fiiz-button class="dropdown" tabindex="-1" *ngFor="let item of items$ | async; let i = index; let last = last" [ngClass]="{'divider': !last}" (click)="emitTheValue(item.emitterValue)">
          <i [class]="item.icon"></i> {{ item.label }}
        </fiiz-button>

    </ng-template>

    <ng-template [ngIf]="dropdownType === 'anchor'">
      <div *ngFor="let item of items$ | async; let i = index; let last = last " [ngClass]="{'divider': !last}">
        <a routerLink="item.path">
          <i [class]="item.icon"></i> {{ item.label }}
        </a>
      </div>
    </ng-template>

  </div>
</div>
