:host[data-template="recap"] {
  align-items: flex-start;

  .appointment-time {
    width: fit-content;
    position: relative;
    margin: 32px auto;

    label {
      color: rgba(198, 203, 237, 0.62);
      text-transform: uppercase;
      font-size: 10px;
      margin-bottom: 0;
      position: absolute;
      top: -15px;
      left: 2em;
      line-height: 1em;
    }

    &__body {
      display: flex;
      gap: 1em;
      align-items: center;
      justify-content: flex-start;
      line-height: 44px;
      background: var(--slate-shade2);
      border-radius: var(--input-border-radius);
      padding: var(--input-padding-tb) var(--input-padding-lr) ;

      i {
        font-size: 1.5em;
      }
    }
  }
}
