<div *ngIf="data" [ngClass]="data.template">

  <ng-container [ngSwitch]="data.template">
    <ng-template [ngSwitchCase]="'call-direction'">
      <header>
        <h3>{{data.title}}</h3>
        <p>{{data.body}}</p>
      </header>

      <form [formGroup]="form" *ngIf="form">
        <fiiz-radio [items]="callDirections$" formControlName="call_direction" name="call_direction"></fiiz-radio>
      </form>
    </ng-template>

    <ng-template [ngSwitchCase]="'outbound-type'">
      <header>
        <h3>{{data.title}}</h3>
        <p>{{data.body}}</p>
      </header>

      <form [formGroup]="form" *ngIf="form">
        <fiiz-radio [items]="outboundTypes$" formControlName="outbound_type" name="outbound_type"></fiiz-radio>
      </form>
    </ng-template>

    <ng-template [ngSwitchCase]="'relationship-building'">
      <header>
        <h3>{{data.title}}</h3>
        <p>{{data.body}}</p>
      </header>

      <p class="dictation">Excellent, so you were telling me your case is regarding...</p>

      <fiiz-data [module]="ModuleTypes.LEAD" [data]="{resolveId: 'lead', practiceAreaId: 1}" [options]="{state: 'edit', fields: ['practiceAreaId']}"></fiiz-data>
      <p class="dictation">Fantastic, and which city are you calling from today?</p>
      <fiiz-data [module]="ModuleTypes.LEAD" [data]="{resolveId: 'lead'}" [options]="{state: 'edit', fields: ['state']}"></fiiz-data>
      <!-- <fiiz-data [module]="ModuleTypes.ADDRESS" [data]="{id: undefined}" [options]="{state: 'edit', fields: ['stateCode']}"></fiiz-data> -->

      <!--      <p style="text-align: center;">Remember to respond appropriately after they share their story in order to build a relationship based on the information that they share!</p>-->

      <p class="dictation">Do you have a few minutes so that I can ask you some questions to see how we might be able to help you?</p>
    </ng-template>

    <ng-template [ngSwitchCase]="'power-question'">
      <header>
        <h3>{{data.title}}</h3>
        <p>{{data.body}}</p>
      </header>
      <ol style="margin: 0 auto; max-width: 460px; text-align: left; font-size: 16px;">
        <li>When was the last time you saw your family in (enter country)?</li>
        <li>Are you going to trust your family to do the process for you or you’re going to act on it?</li>
      </ol>
    </ng-template>

    <ng-template [ngSwitchCase]="'recap'" >
      <div style="display: flex; flex-direction: column;">
        <p class="dictation">We will be sending information before, during the process and at the end of the process, so it is important that we verify the email.</p>
        <fiiz-data [module]="ModuleTypes.LEAD" [data]="{ id: (vars$ | async)?.lead }" [options]="{state: 'edit', fields: ['email', 'phone'] }"></fiiz-data>
        <div class="appointment-time">
          <i class="fa fa-calendar-alt"></i>
          <div>{{ (eventPayload$ | async)?.startTime | date : 'longDate' }} at {{ (eventPayload$ | async)?.startTime | date : 'shortTime' }}</div>
        </div>
        <p class="dictation">Here's the deal. At your consult, you will need to make a decision. Either you will decide to do nothing and keep your life the same as it is today, or you will choose one of the paths we identify to make your life better</p>
        <p class="dictation">We always suggest that you bring some money to start the process; whatever is in your possibilities. Are there any family members or friends who must be involved to help you decide on how you are going to make your life better?</p>
      </div>
    </ng-template>

    <ng-template [ngSwitchCase]="'end'">
      <ng-container *ngIf="(status$ | async) === (FlowStatus.SUCCESS || FlowStatus.PENDING)">
        <div style="display: flex; justify-content: space-around; gap: 2em; margin-bottom: 2em;">
          <div class="bot-message" *ngFor="let action of botActions" style="display:flex; flex-direction: column; align-items: center; justify-content: space-around;">
            <i class="fa {{action.status === BotActionStatus.SUCCESS ? 'fa-check' : action.icon }}" style="font-size:32px;"></i>
            {{action.message}}
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="(status$ | async) === FlowStatus.SUCCESS">
       <p>All information has been captured, thank you!</p>
      </ng-container>

      <fiiz-button *ngIf="(status$ | async) === FlowStatus.SUCCESS" primary (click)="endCall()" [disabled]="(status$ | async) !== 'success'">Finish Call</fiiz-button>
    </ng-template>


    <ng-template [ngSwitchCase]="'reason-for-call'">
      <header>
        <h3>{{data.title}}</h3>
        <p *ngIf="(vars$ | async).call_direction === 'inbound'">What is the reason for them calling today?</p>
      </header>

      <ng-container *ngIf="(vars$ | async).call_direction === 'outbound'">

      </ng-container>

      <form [formGroup]="form" *ngIf="form">
        <fiiz-radio [items]="callReasons$" formControlName="call_reason" name="call_reason"></fiiz-radio>
      </form>
    </ng-template>

    <ng-template [ngSwitchCase]="'opp-follow-up'">
      <header>
        <h3>{{data.title}}</h3>
        <p>{{data.body}}</p>
      </header>

      <form [formGroup]="form" *ngIf="form">
        <fiiz-radio [items]="answerOptions$" formControlName="answered" name="answered"></fiiz-radio>

        <ng-container [ngSwitch]="form.controls['answered'].value">
          <ng-template ngSwitchCase="yes">
            <p class="dictation">Hello how are you, am I speaking with contact_name? This is username from company_name. I called you because the consultant (name of the consultant assigned to the office they were scheduled to) saw that he could not reach your appointment you had set and we wanted to know if everything was okay?</p>
            <p class="dictation">The best way to help you is, if we set you up with another appointment and I will be more than glad to set another one.</p>
            <fiiz-radio [items]="callOutcomes$" formControlName="call_outcome" name="call_outcome"></fiiz-radio>
          </ng-template>
          <ng-template ngSwitchCase="no"></ng-template>
          <ng-template ngSwitchCase="leaving-message"></ng-template>
          <ng-template [ngSwitchCase]="'bad-number' || 'wrong-number' || 'not-working'"></ng-template>
        </ng-container>

      </form>
    </ng-template>

    <ng-template [ngSwitchCase]="'take-notes'">
      <header>
        <h3>{{data.title}}</h3>
        <p>{{data.body}}</p>
      </header>

      <editor
        #tinymce
        apiKey="urnz0s9a4al78qoc2vppvb448lleii59pbarcr4cgviahk1i"
        outputFormat="html"
        id="flow-text-editor"
        [init]="tinymceOptions"
        (onInit)="afterEditorInit($event, 'flow-text-editor')"
        style="width: 550px;"
      ></editor>
    </ng-template>

    <ng-template ngSwitchDefault>This would be a default template</ng-template>
  </ng-container>

</div>
