@import '../../../../../assets/css/mixins';

:host {
  text-align: center;

  & > div {
    width: 100%;
  }



  @include hideScrollBars();



  form {
    margin: 0 auto;
    width: fit-content;
    text-align: left;
  }

  .relationship-building {
    fiiz-data form {
      justify-content: space-around;
    }
  }

  .bot-message {
    font-size: 18px;
    color: var(--green1);
  }
}
