<div *ngIf="data">
  <h3>{{data.title}}</h3>
  <p>{{data.body}}</p>
  <ng-container [ngSwitch]="data.template">

    <ng-template [ngSwitchCase]="'call-type'" *ngIf="form">
      <form [formGroup]="form">
        <fiiz-radio [items]="callTypes$" formControlName="call_type"></fiiz-radio>
      </form>
    </ng-template>

    <ng-template [ngSwitchCase]="'web-lead'" *ngIf="form">
      <form [formGroup]="form">
        <fiiz-radio [items]="webLeadTypes$" formControlName="web_lead_options"></fiiz-radio>
      </form>
    </ng-template>

    <ng-template [ngSwitchCase]="'relationship-building'">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam autem, dolore dolorem eum explicabo laborum maiores quae quasi! Animi corporis dolorum eum expedita iste placeat sapiente tenetur vel!</p>
    </ng-template>

    <ng-template [ngSwitchCase]="'power-question'">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam autem, dolore dolorem eum explicabo laborum maiores quae quasi! Animi corporis dolorum eum expedita iste placeat sapiente tenetur vel!</p>
    </ng-template>

    <ng-template [ngSwitchCase]="'recap'" >

      <div style="display: flex; flex-direction: row;">
        <div style="flex:1;">
          <p class="dictation">We will be sending information before, during the process and at the end of the process, so it is important that we verify the email.</p>
          <b>Appointment Time:</b> {{ allVars.appt_start_time | date : 'longDate' }} at {{ allVars.appt_start_time | date : 'shortTime' }}
          <p class="dictation">Here's the deal. At your consult, you will need to make a decision. Either you will decide to do nothing and keep your life the same as it is today, or you will choose one of the paths we identify to make your life better</p>
          <p class="dictation">We always suggest that you bring some money to start the process; whatever is in your possibilities. Are there any family members or friends who must be involved to help you decide on how you are going to make your life better?</p>
        </div>
        <div style="flex: 1;">
          <fiiz-data #contactForm [module]="ModuleTypes.CONTACT" [data]="{ resolveId: 'contact' }" [options]="{state: 'edit', fields: ['email'] }"></fiiz-data>
          <fiiz-data #addressForm [module]="ModuleTypes.ADDRESS" [data]="{ resolveId: 'address' }" [options]="{state: 'edit', fields: ['line1', 'line2', 'city', 'stateCode', 'zipCode', 'countryCode'] }"></fiiz-data>
        </div>
      </div>

    </ng-template>

    <ng-template [ngSwitchCase]="'end'">
      <p>All information for this call has been captured. Thank you!</p>
      <fiiz-button primary>End Call</fiiz-button>
    </ng-template>



    <ng-template ngSwitchDefault>This would be a default template</ng-template>
  </ng-container>


</div>
