@import '~src/assets/css/variables';

:host {
  display: block;
  position: relative;
  height: 24px;

  input[disabled] + label,
  input[disabled]:hover + label {
    color: #999;
  }

  input {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 0;
    height: 0;
    white-space: nowrap;
  }

  label {
    height: 24px;
    margin: 0 auto;
    min-width: 44px;
  }

  input + label {
    display: block;
    position: relative;
    max-width: calc(100% - 2em);
    cursor: pointer;
    color: $blue5;
    font-size: 16px;
    width: 44px;
  }

  input:focus + label::before {
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    @include focusRing($focusring, $focusring-moz-mac);
    color: #222;
    outline: none;
  }

  input + label::before,
  input + label::after {
    content: "";
    position: absolute;
    height: 24px;
    transition: all 0.25s ease;
  }

  input + label::before {
    left: 0;
    top: 0;
    width: 44px;
    background: #767676;
    border-radius: 1.1em;
  }

  input + label::after {
    left: 0;
    top: 0;
    background-color: #fff;
    background-position: center center;
    border-radius: 50%;
    width: 22px;
    border: 0.15em solid #767676;
  }

  input:checked + label::after {
    left: 1.6em;
    border-color: $blue3;
    color: $blue3;
  }

  input:indeterminate + label::after {
    left: 0.8em;
  }

  input:indeterminate + label::before {
    background-color: #ddd;
  }

  input:checked + label::before {
    background-color: $blue3;
    border-color: $blue3;
  }

  input[disabled] + label::before {
    background-color: transparent;
    border-color: #ddd;
  }

  input[disabled] + label::after {
    border-color: #ddd;
  }

  input[disabled]:hover + label {
    color: #999; /* case for CSS custom property if not supporting IE/Edge */
  }

  input[disabled]:hover + label::before {
    box-shadow: none;
  }

  input[disabled]:hover + label::after {
    background-image: none;
  }

  /* Put toggles on the right like the iOS the kids like */

  &.flip [type="checkbox"] + label::before,
  &.flip [type="checkbox"] + label::after {
    left: auto;
    right: 0;
  }

  &.flip [type="checkbox"] + label::after {
    left: auto;
    right: 1.6em;
  }

  &.flip [type="checkbox"]:checked + label::after {
    right: 0;
  }

  &.flip [type="checkbox"]:indeterminate + label::after {
    right: 0.8em;
  }

  &.flip [type="checkbox"] + label {
    padding-left: 0;
    padding-right: 4em;
  }
}
