
.page-content {
  display: flex;
  flex-direction: row;
  gap: 2em;
  min-height: 0;

  .fields {
    flex: 1 420px;
  }

  .notes {
    flex: 2 500px;
  }

}

fiiz-data {
  form {
    margin: 0;
  }
}

.button-control {
  margin: 20px auto 20px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media all and (min-width: 868px){

}
