<div class="container">

  <div class="flow-layout">
    <div class="flow-layout__main">

      <section class="flow-layout__sidebar">
        <div style="padding: 20px;">
          <fiiz-tab-nav [items]="[{key: 'timeline', label: 'Timeline'}, {key: 'notes', label: 'Notes'}]" (onSelect)="$event === 'timeline' ? tabIndex = 1 : tabIndex = 0 "></fiiz-tab-nav>
          <ng-container *ngTemplateOutlet="tabIndex ? flowTimeline : flowNotes"></ng-container>
        </div>
      </section>

      <section [@slide]="animationIndex" class="flow-layout__content">
        <router-outlet (activate)="onActivate($event)" name="aux"></router-outlet>
        <div class="flow-layout__controls">
          <button (click)="onBack()" class="stroked" [disabled]="false">Back</button>
          <button class=primary (click)="onNext()">Next</button>
        </div>
      </section>

    </div>
  </div>
</div>


<ng-template #flowTimeline>
  <flow-timeline (onSelect)="goTo($event)" ></flow-timeline>
</ng-template>

<ng-template #flowNotes><div>
  <editor apiKey="urnz0s9a4al78qoc2vppvb448lleii59pbarcr4cgviahk1i" [init]="tinymceOptions" ></editor>
</div></ng-template>
