<div class="flow-layout">


  <header style="padding-top: 20px;">
    <!--    <fiiz-dropdown type="button" (onClick)="handleFabAction($event)" [items]="menuItems" position="bottom-right"></fiiz-dropdown>-->
    <fiiz-dropdown type="search" [items]="objections$" title="Objections" label="Objections"></fiiz-dropdown>
    <!--    <div class="button-group">-->
    <fiiz-button (click)="openNotesDialog()" style="align-self: end;"><i class="fa fa-note-sticky"></i> Notes</fiiz-button>
    <fiiz-button warning stroked style="align-self: end;" (click)="endCall()">End Call</fiiz-button>
    <!--    </div>-->

  </header>

  <section class="flow-layout__left">
    <!--    <fiiz-tab-nav [items]="[{key: 'timeline', label: 'Timeline'}, {key: 'notes', label: 'Notes'}]" (onSelect)="$event === 'timeline' ? tabIndex = 1 : tabIndex = 0 "></fiiz-tab-nav>-->
    <ng-container *ngTemplateOutlet="flowTimeline"></ng-container>
  </section>

  <section [@slide]="animationIndex" class="flow-layout__content">
    <div style="position: absolute; top: 20px; left: 0; right: 0; bottom: 20px;">
      <ng-template flowHost></ng-template>
      <footer>
        <fiiz-button (click)="onBack($event)" stroked *ngIf="(status$ | async) !== 'complete'">Back</fiiz-button>
        <fiiz-button primary type="submit" [disabled]="!(valid$ | async)" *ngIf="!(isLastStep$ | async)" (click)="onNext($event)">Continue</fiiz-button>
      </footer>
    </div>
  </section>

</div>

<ng-template #flowTimeline>
  <flow-timeline (onSelect)="goTo($event)"></flow-timeline>
</ng-template>
