:host {
  width: 100%;
  height: var(--full-height-minus-navbar);
  display: flex;
  padding: {
    left: 0;
    right: 0;
  }
  justify-content: space-around;
}


router-outlet {
  display: block;
  width: 100%;
  height: 100%;
}

.flow-layout {
  display: flex;
  flex-flow: column wrap;
  height: 100%;

  header {
    display: flex;
    justify-content: end;
    gap: .5em;
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 40%;
    margin: 0 auto;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }


  &__left {
    overflow: hidden;
    height: var(--full-height-minus-navbar);
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    padding: 0;

    fiiz-tab-nav {
      margin: 16px 0;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    height: var(--full-height-minus-navbar);
    padding: 30px 0;
  }

  footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 40%;
    margin: 0 auto;
    flex: 0;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;

    button {
      margin: 0;
    }
  }

  &__right {

  }

}

section {
  position: relative;
}

section ng-component {
  width: 100%;
}

.fab-button {
  position: absolute;
  top: calc(#{var(--navbar-height)} + 3%);
  right: calc(100vw - 95%);
  z-index: 1;
}


@media all and (min-width: 1024px ) {
  .flow-layout__content {
    max-width: 680px;
  }

  .flow-layout footer {
    max-width: 680px;
  }
}
