<div class="flow-layout">


  <header style="padding-top: 20px;">
    <!--    <fiiz-dropdown type="button" (onClick)="handleFabAction($event)" [items]="menuItems" position="bottom-right"></fiiz-dropdown>-->
    <fiiz-dropdown type="search" [items]="objections$ | async">Objections</fiiz-dropdown>
    <!--    <div class="button-group">-->
    <fiiz-button (click)="openNotesDialog()" style="align-self: end;"><i class="fa fa-note-sticky"></i> Notes</fiiz-button>
    <fiiz-button warning stroked style="align-self: end;" (click)="endCall()">End Call</fiiz-button>
    <!--    </div>-->

  </header>

  <section class="flow-layout__left">
    <!--    <fiiz-tab-nav [items]="[{key: 'timeline', label: 'Timeline'}, {key: 'notes', label: 'Notes'}]" (onSelect)="$event === 'timeline' ? tabIndex = 1 : tabIndex = 0 "></fiiz-tab-nav>-->
    <ng-container *ngTemplateOutlet="flowTimeline"></ng-container>
  </section>

  <section [@slide]="animationIndex" class="flow-layout__content">
    <div style="position: absolute; top: 15%; left: 0; right: 0; bottom: 25%;">
      <ng-template flowHost></ng-template>
      <footer>
        <!-- <fiiz-button (click)="onBack($event)" stroked *ngIf="(stepHistory$ | async)?.length > 0">Back</fiiz-button> -->
        <fiiz-button primary type="submit" [disabled]="!(valid$ | async)" (click)="onNext($event)">Continue</fiiz-button>
      </footer>
    </div>
  </section>


  <!--  <section class="flow-layout__right">-->
  <!--&lt;!&ndash;    <fiiz-dropdown type="button" (onClick)="handleFabAction($event)" [items]="menuItems" position="bottom-right"></fiiz-dropdown>&ndash;&gt;-->
  <!--    <ng-container *ngTemplateOutlet="flowNotes"></ng-container>-->
  <!--    <fiiz-select [items]="objections$" label="Objection"></fiiz-select>-->
  <!--    <fiiz-button warning class="full-width" style="align-self: flex-end;" stroked (click)="endCall()">End Call</fiiz-button>-->
  <!--  </section>-->

</div>

<ng-template #flowNotes>
  <div>
    <editor
      apiKey="urnz0s9a4al78qoc2vppvb448lleii59pbarcr4cgviahk1i"
      outputFormat="html"
      #tinymce
      *ngIf="flowService.noteId"
      [initialValue]="(notes$ | async)"
      [(ngModel)]="notesData"
      [init]="tinymceOptions"
    ></editor>
    <div *ngIf="!flowService.noteId" style="text-align: center;padding: 20px 0; opacity: .5;">Awaiting an active call.
    </div>
  </div>
</ng-template>

<ng-template #flowTimeline>
  <flow-timeline (onSelect)="goTo($event)"></flow-timeline>
</ng-template>
