@import '~src/assets/css/variables';

:host {
  height: var(--full-height-minus-navbar);

  display: flex;
  flex-direction: row;
  gap: 2em;
}

.flow-layout {
  flex: 1;
  flex-direction: column;
  height: 100%;


  &__sidebar {
    padding: {
      top: 40px;
    }
    background: #{var(--background-color)};
    height: 100%;
    flex: 1;

    fiiz-tab-nav {
      margin: 16px 0;
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  &__content {
    padding: {
      top: 40px;
    }
    display: flex;
    flex-direction: column;
    flex: 4.5;
    justify-content: flex-start;
    overflow: hidden;
    align-items: stretch;
    align-content: stretch;
    position: relative;
  }

  // &__controls {
  //   display: flex;
  //   justify-content: space-between;
  //   width: 100%;
  //   margin: 0 auto 20px auto;

  //   button {
  //     margin: 0;
  //   }
  // }
}
