@import '~src/assets/css/variables';

:host {
  height: var(--full-height-minus-navbar);

  display: flex;
  flex-direction: column;
  gap: 0;

  section.sidebar {
    flex: 0;
    padding: {
      top: 40px;
    }
    background: #{var(--background-color)};
    fiiz-tab-nav {
      margin: 16px 0;
    }
    fiiz-dropdown {
      display:block;
    }
  }

  section.content {
    padding: {
      top: 40px;
    }
    display: flex;
    flex-direction: column;
    flex: 4.5;
    justify-content: flex-start;
    overflow: hidden;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    overflow-y: auto;
  }
}

@media (max-width: 600px) {
  :host {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media all and (min-width: $mobile-threshold) {
  :host {
    gap: 2em;
    flex-direction: row;    

    section.sidebar {
      flex: 1;
    }
  }
}

