<ng-container [ngTemplateOutlet]="getTemplate() || loadingTemplate" [ngTemplateOutletContext]="{loadingText: loadingMessage}"></ng-container>

<ng-template #loginTemplate>
  <form [formGroup]="loginForm" (ngSubmit)="login()" id="login-form" >
    <img src="assets/img/symbolmark-light-transparent.png" alt="4iiz Logo">
    <fiiz-input
      id="username"
      formControlName="username"
      type="text"
      required
      placeholder="Username">
    </fiiz-input>

    <fiiz-input
      id="password"
      formControlName="password"
      placeholder="Password"
      type="password"
      required
      minlength="12">
    </fiiz-input>

    <fiiz-button primary class="full-width" type="submit" [loading]="isLoading$ | async" [disabled]="(isLoading$ | async) || loginForm.invalid">Let's Go!</fiiz-button>
<!--    <input type="submit" class="primary large" value="Let's Go!" [disabled]="isLoading$ | async">-->

    <!-- <button class="forgot-password transparent large" type="button" (click)="updateShowForm('forgot-password')">Forgot password?</button> -->
    <div style="color:red; margin: 0 0 0 54px;" *ngIf="error$ | async">{{errorMessage}}</div>
  </form>
</ng-template>

<ng-template #newUserTemplate>
  <form (ngSubmit)="acceptInvitation()" [formGroup]="newUserForm" id="new-user-form" name="new-user-form">

    <ng-container [ngTemplateOutlet]="(isLoading$ | async) ? loadingTemplate : newUserTemplate" [ngTemplateOutletContext]="{loadingText: 'Checking Invitation...'}"></ng-container>

    <ng-template #newUserTemplate>
      <h2>New User</h2>

      <fiiz-input
        formControlName="email"
        type="text"
        placeholder="Email Address">
      </fiiz-input>

      <fiiz-input
        formControlName="firstName"
        type="text"
        placeholder="First Name">
      </fiiz-input>

      <fiiz-input
        formControlName="lastName"
        type="text"
        placeholder="Last Name">
      </fiiz-input>

      <fiiz-input
        formControlName="password"
        type="password"
        placeholder="Password"
        required
        minlength="12">
      </fiiz-input>

      <fiiz-input
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirm Password"
        required
        minlength="12">
      </fiiz-input>
      
      <fiiz-button primary class="full-width" type="submit" [loading]="isLoading$ | async" [disabled]="(isLoading$ | async) || newUserForm.invalid">Complete Registration</fiiz-button>

    </ng-template>


  </form>
</ng-template>



<ng-template #loadingTemplate let-loadingText="loadingText">
  <div class="loader">
    <fiiz-loading>{{loadingText}}</fiiz-loading>
  </div>
</ng-template>


