<h2>System Administration</h2>
<fiiz-select [items]="workspaces$" label="Accounts" [showDefault]="true" [ngModel]="actingFor$ | async" (change)="onChange($event)"></fiiz-select>


<ng-container [ngTemplateOutlet]="(actingFor$ | async)?.id ? inviteUsers : null"></ng-container>

<ng-template #inviteUsers>
  <h3>Invite Users</h3>

  <form (ngSubmit)="submitUserInvite()"  [formGroup]="userInviteForm" *ngIf="userInviteForm?.controls">
    <fiiz-input label="Email" placeholder="Email Address" [formControlName]="'email'"></fiiz-input>
    <fiiz-select label="Role" [items]="roles$" [formControlName]="'role'"></fiiz-select>
    <input type="submit" class="stroked" value="Send Invitation">
  </form>
</ng-template>
