
<div class="page-heading">
  <h2 class="page-heading__title">System Administration</h2>
</div>

<div class="grid">
  <article>
    <header>
      <h3>Accounts</h3>
    </header>

    <form id="accounts-form" [formGroup]="accountsForm" *ngIf="accountsForm">
      <fiiz-dropdown
        type="search"
        id="actingFor"
        [items]="workspaces$"
        [formControlName]="'actingFor'"
        [title]="'Select an account'"
        [label]="'Accounts'"></fiiz-dropdown>
    </form>
  </article>

  <article>
    <ng-container [ngTemplateOutlet]="(actingFor$ | async)?.id ? inviteUsers : null"></ng-container>
  </article>

</div>



<ng-template #inviteUsers>
  <header>
    <h3>Invite Users</h3>
  </header>

  <form (ngSubmit)="submitUserInvite()" [formGroup]="userInviteForm" *ngIf="userInviteForm?.controls">
    <fiiz-input type="email" label="Email" placeholder="Email Address" [formControlName]="'email'"></fiiz-input>
    <fiiz-dropdown
      type="search"
      [formControlName]="'role'"
      [module]="lookupTypes.ROLE"
      [title]="'Select a Role'"
      [label]="'Role'"></fiiz-dropdown>
    <div class="form-controls">
      <fiiz-button type="submit" stroked [loading]="loading$">Send Invitation</fiiz-button>
    </div>
  </form>
</ng-template>
